<div class="content-section basic-content-layout-1">
  <div>
    <section class="text-section">
		<p>Citing the need to continue to invest in the long-term reliability of Northwest Florida&rsquo;s energy infrastructure, Gulf Power has filed a request with the Florida Public Service Commission to seek an increase in prices beginning in July, 2017.</p>
		
		<ul>
		<li><a href="http://www.psc.state.fl.us/ClerkOffice/DocketFiling?docket=160186" rel="external" onclick="ga('send', 'event', 'link', 'click', 'PSC-docket-filing');">Documents in rate review request <span class="fa fa-external-link gray-corp-40" aria-hidden="true"></span></a><br /><small>(via Florida Public Service Commission)</small></li>
		<li>Minimum Filing Requirements (MFRs):
			<ul class="fa-ul">
				<li><span class="fa-li fa fa-file-pdf-o" aria-hidden="true"></span><a href="/pdf/rate-request/MFR-A.pdf" rel="external" onclick="ga('send', 'event', 'pdf', 'click', 'rate-request MFR-A');">MFR A</a></li>
				<li><span class="fa-li fa fa-file-pdf-o" aria-hidden="true"></span><a href="/pdf/rate-request/MFR-B.pdf" rel="external" onclick="ga('send', 'event', 'pdf', 'click', 'rate-request MFR-B');">MFR B</a></li>
				<li><span class="fa-li fa fa-file-pdf-o" aria-hidden="true"></span><a href="/pdf/rate-request/MFR-C.pdf" rel="external" onclick="ga('send', 'event', 'pdf', 'click', 'rate-request MFR-C');">MFR C</a></li>
				<li><span class="fa-li fa fa-file-pdf-o" aria-hidden="true"></span><a href="/pdf/rate-request/MFR-D.pdf" rel="external" onclick="ga('send', 'event', 'pdf', 'click', 'rate-request MFR-D');">MFR D</a></li>
				<li><span class="fa-li fa fa-file-pdf-o" aria-hidden="true"></span><a href="/pdf/rate-request/MFR-E-Volume-1.pdf" rel="external" onclick="ga('send', 'event', 'pdf', 'click', 'rate-request MFR-E-Volume-1');">MFR E Volume 1</a></li>
				<li><span class="fa-li fa fa-file-pdf-o" aria-hidden="true"></span><a href="/pdf/rate-request/MFR-E-Volume-2.pdf" rel="external" onclick="ga('send', 'event', 'pdf', 'click', 'rate-request MFR-E-Volume-2');">MFR E Volume 2</a></li>
				<li><span class="fa-li fa fa-file-pdf-o" aria-hidden="true"></span><a href="/pdf/rate-request/MFR-F-Volume-1.pdf" rel="external" onclick="ga('send', 'event', 'pdf', 'click', 'rate-request MFR-F-Volume-1');">MFR F Volume 1</a></li>
				<li><span class="fa-li fa fa-file-pdf-o" aria-hidden="true"></span><a href="/pdf/rate-request/MFR-F-Volume-2.pdf" rel="external" onclick="ga('send', 'event', 'pdf', 'click', 'rate-request MFR-F-Volume-2');">MFR F Volume 2</a></li>
				<li><span class="fa-li fa fa-file-pdf-o" aria-hidden="true"></span><a href="/pdf/rate-request/MFR-F-Volume-3.pdf" rel="external" onclick="ga('send', 'event', 'pdf', 'click', 'rate-request MFR-F-Volume-3');">MFR F Volume 3</a></li>
			</ul>
		</li>
		<li><a href="http://www.gulfpowernews.com/gulf-power-cites-need-continue-improving-infrastructure/" rel="external" onclick="ga('send', 'event', 'link', 'click', 'rate-request press-release NewsCenter');">Gulf Power cites need to continue improving infrastructure <span class="fa fa-external-link gray-corp-40" aria-hidden="true"></span></a></li>
	</ul>


    
    <hr />
    <div id="ad-module">
		<div class="ad" align="center">
			<h3>Saving Money and Energy</h3>
			<img width="150" height="125" src="/residential/earthcents/img/energy-checkup-content-res-sm.png" alt="Find ways to lower your monthly energy bill" />
			<p>Take our <strong>FREE Energy Checkup</strong> to find ways to lower your monthly energy bill.</p>
			<a class="button" style="margin:1em auto;float:none;" href="/residential/earthcents/energy-checkup.cshtml">Energy Checkup</a>
	    </div>
	</div>
    <hr />
     
     
     <h3>Understanding your bill</h3>
     
     <p>There are a lot of factors that go into your Gulf Power energy bill. Weather, fuel and several elements all play a part in calculating it each month.</p>
     
     <p>See the image below to learn about kilowatt consumption in terms of electricity cost.</p>
     
     <a rel="#application-overlay" class="overlay-trigger" onclick="ga('send', 'event', 'img', 'click', 'kilowatt-info');" style="cursor:pointer;cursor:hand;"><img src="/residential/residential-rates/img/kilowatt-kwh-info.jpg" width="737" height="432" style="width:100%;max-width:737px;height:auto;" alt="infographic: watts, kilowatt and electricity costs" /><br /><small>(view larger image)</small></a>

<!--// modal : Gulf Solar Energy Share //-->
		<div id="application-overlay" class="application-overlay simple-overlay" style="padding:2em;">
			@*<h3 class="application-title"></h3>*@
			<div class="close-message"></div>
		  	<a class="close" style="float:right;"><img src="/img/overlay-close.png"/></a>
			<img src="/residential/residential-rates/img/kilowatt-kwh-info.jpg" width="1000" height="586" alt="inforgraphic: watts, kilowatt and electricity costs (fullsize)" />
		</div>
     
    </section>
  </div>
</div>

<div class="content-section faq">
  <section class="text-section faq-section">
    <h2>Residential demand rates</h2>
    <p>We also have filed a request with the Florida Public Service Commission to offer residential customers demand rate options.</p>
    <p>If approved, the demand rate encourages you to save by limiting the simultaneous use of major appliances. With the demand rate, the base charge and energy charge are reduced but there is an additional demand charge based on the maximum amount of energy you use at one time during the billing period. Use fewer appliances together to create less demand and enjoy more savings.</p>

    <h3>Breaking down how demand works</h3>
    <div class="faqs">
      <h3>xxxxx</h3>
      <section>
        <p>The effect of using appliances at different times is illustrated with the two examples below:</p>
	  	<div class="panel">
			<h4 class="red">Example 1</h4>
			<ul>
				<li>8 a.m. &mdash; Oven...................2.35 kilowatts</li>
				<li>8 a.m. &mdash; Clothes dryer.....2.80 kilowatts</li>
				<li>8 a.m. &mdash; Dishwasher........1.20 kilowatts</li>
				<li style="list-style:none !important;list-style-image:none;border-top:dashed 1px #cccccc;padding-top:10px;">Total demand.....................6.35 kilowatts</li>
			</ul>
            <p>If all three of these home devices operate at the same time for a full hour, <strong>the resulting total demand subject to the demand charge would be about <span class="red">6.35 kilowatt</span></strong>, with some additional demand related to small household electrical loads such as lights and computers.</p>
			<p>Additional demand related to home heating and cooling or water heater load may also be a factor depending on thermostat control settings, water heater size and type, etc.</p>
		</div>
		<div class="panel info">
			<h4 class="red">Example 2</h4>
			<p>By avoiding appliance operation at the same time &ndash; for instance, drying clothes when the oven and dishwasher aren&rsquo;t running &ndash; total demand can be reduced, saving money.</p>
			<ul>
				<li>&nbsp;&nbsp;8 a.m. &mdash; Oven...................2.35 kilowatts</li>
				<li>11 a.m. &mdash; Clothes dryer.....2.80 kilowatts</li>
				<li>&nbsp;&nbsp;1 p.m. &mdash; Dishwasher........1.20 kilowatts</li>
			</ul>
            <p>In this case, where appliance use is staggered throughout the day, <strong>the resulting total demand subject to the demand charge would be about <span class="red">2.80 kilowatt</span> (the highest hour)</strong>, with some additional demand related to small household electrical loads such as lights and computers.</p>
			<p>Additional demand related to home heating and cooling or water heater load may also be a factor depending on thermostat control settings, water heater size and type, etc.</p>
          </div>
      </section>
    </div>
  </section>
</div>