<div class="content-section story-tiles layout-1">
  <div>
    <h2>Report Outages</h2>
    <p>We strive to provide uninterrupted service, but when outages occur our teams work to restore power as quickly as possible. Track and report local outages and broken streetlamps below.</p>
    <div class="tiles">
      <div class="story-tile">
        <img src="/images/StoryTile_ReportOutage.jpg" alt="StoryTile_ReportOutage" width="572" height="205" />
        <div class="story-tile-content">
          <h3 class="story-tile-title">Report an Outage</h3>
          <p>We apologize for the problems you are experiencing with your service. Use our online services to report the location of your outage so we can restore service as soon as possible.</p>
          <a href="https://customerservice.southerncompany.com/Outage/Service.aspx?mnuopco=gulf">Report an Outage</a>
        </div>
      </div>


      <div class="story-tile">
      <img src="/images/StoryTile_OutageMap.jpg" alt="StoryTile_OutageMap" width="572" height="205" />
        <div class="story-tile-content">
          <h3 class="story-tile-title">View Outage Map</h3>
          <p>Use our online power outage map to track your outage.</p>
          <a href="http://outagemap.gulfpower.com/" class="detour-link">View Outage Map</a>
        </div>
      </div>


      <div class="story-tile">
        <img src="/images/StoryTile_ReportStreetlightOutage.jpg" alt="StoryTile_ReportStreetlightOutage" width="572" height="205" />
        <div class="story-tile-content">
          <h3 class="story-tile-title">Report a Streetlight Outage</h3>
          <p>Reporting an outage for an outdoor light is easy as following a few steps.</p>
          <a href="/residential/savings-and-energy/rebates-and-programs/outdoor-lighting/report-an-outage">Report a Streetlight Outage</a>
        </div>
      </div>


    </div>
  </div>
</div>



<ng-include src="'templates/shared/banner.html'"
  ng-init="bannerDataID = 10"
></ng-include>
