<div class="content-section content-decorative-image-combo">
  <div>
    <section class="text-section basic-section">
      <div>
        <h2>Outdoor LEDs Light up the Night</h2>
        <p>Well-designed outdoor lighting makes your property more attractive and inviting and enhances your customers' and employees' comfort and security. And that makes your business more appealing overall.
        <p>Looking for help with your outdoor lighting needs? Start with a free lighting analysis. We'll visit your site and create a custom solution &mdash; either cost-effective upgrades or an efficient new system &mdash; that fits both your business needs and your budget.</p>
        <p>Our experts will work with you to create an outdoor lighting system that will help you shine above the rest. We&apos;ll also make it easy to design, install and maintain your outdoor lighting system.</p>
      </div>
    </section>

    <section class="image-section">
      <img src="/images/illustrations/business/Image_Bus_OutdoorLighting_1.png" alt="Illustration of outdoor lighting">
    </section>
  </div>
</div>

<div class="content-section story-tiles layout-2">
  <div>
    <div class="tiles">
      <div class="story-tile">
        <div class="story-tile-content">
          <h3 class="story-tile-title">How Leasing Can Help You</h3>
          <p>We want to be your full-service partner for lighting design, product selection, installation, and maintenance on your project. We offer purchase and lease options for lighting systems. Maintenance is included when you lease; you also benefit from: </p>
          <ul>
            <li>Professional lighting expertise at no charge</li>
            <li>Assistance with project design</li>
            <li>A wide selection of light fixtures and poles from top manufacturers</li>
          </ul>
          <p><a href="#contact-form" class="jump-link detour-link">Contact an Outdoor Lighting Expert to learn more</a></p>
        </div>
      </div>

      <div class="story-tile">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Why Choose LED Lighting</h3>
          <p>Light Emitting Diode (LED) lighting is available for select street and area lighting applications.</p>
          <p>LED outdoor lighting benefits include:</p>
          <ul>
            <li>Enhanced lighting quality</li>
            <li>Energy efficient</li>
            <li>Long fixture life</li>
            <li>Reduced maintenance requirements</li>
            <li>Environmentally friendly</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>









<div class="content-section story-tiles story-tile-slide-show">
  <div>
    <h2>Outdoor Lighting Installations</h2>
    <div class="tiles">
      <div class="story-tile">
        <img src="/images/installation-photos/medical-facility.jpg" alt="medical-facility" width="460" height="340" />
        <div class="story-tile-content">
          <h3 class="story-tile-title">Medical Facility</h3>

        </div>
      </div>

      <div class="story-tile">
        <img src="/images/installation-photos/auto-dealership.jpg" alt="auto-dealership" width="460" height="340" />
        <div class="story-tile-content">
          <h3 class="story-tile-title">Auto Dealerships</h3>

        </div>
      </div>

      <div class="story-tile">
        <img src="/images/installation-photos/roadway.jpg" alt="roadway" width="460" height="340" />
        <div class="story-tile-content">
          <h3 class="story-tile-title">Street & Roadway</h3>

        </div>
      </div>

      <div class="story-tile">
        <img src="/images/installation-photos/roadways.jpg" alt="roadways" width="460" height="340" />
        <div class="story-tile-content">
          <h3 class="story-tile-title">Street & Roadway</h3>

        </div>
      </div>


      <div class="story-tile">
        <img src="/images/installation-photos/parking-lot.jpg" alt="parking-lot" width="460" height="340" />
        <div class="story-tile-content">
          <h3 class="story-tile-title">Parking Lots</h3>

        </div>
      </div>

      <div class="story-tile">
        <img src="/images/installation-photos/walking-areas.jpg" alt="walking-areas" width="460" height="340" />
        <div class="story-tile-content">
          <h3 class="story-tile-title">Parking Lots / Walkways</h3>

        </div>
      </div>

      <div class="story-tile">
        <img src="/images/installation-photos/sidewalk.jpg" alt="sidewalk" width="460" height="340" />
        <div class="story-tile-content">
          <h3 class="story-tile-title">Walkways / Sidewalks</h3>

        </div>
      </div>


    </div>
    <span class="direction-nav"><a href="#" class="nav-prev">&lt;</a><a href="#" class="nav-next">&gt;</a></span>
  </div>
</div>





<div class="content-section content-decorative-image-combo">
  <div>
    <section class="text-section basic-section">
      <div>
        <h2>Design-A-Light</h2>
        <p>Ready to design a lighting look for your property? Try our interactive tool to see what we offer.</p>
        <p class="phone-number"><a href="tel::18776554001">+1-877-655-4001</a></p>
        <p><a href="/residential/savings-and-energy/rebates-and-programs/outdoor-lighting/design-a-light" class="button" role="button">Start Designing</a></p>
      </div>
    </section>

    <section class="image-section">
      <img src="/images/illustrations/business/Image_Bus_OutdoorLighting_2.png" alt="Illustration of the Design-A-Light tool">
    </section>
  </div>
</div>

<ng-include src="'templates/shared/testimonial.html'"
  ng-init="testimonialID = 6"
></ng-include>

<section id="contact-form" class="contact-form">
  <div class="content-region" ng-hide="hideAfterValidSubmit">
    <h2>Contact an Outdoor Lighting Expert</h2>
    <p>Gulf Power's Outdoor Lighting team has the knowledge and experience to design a lighting system tailored to your specific situation. We can help you determine what type of lighting your business needs, whether that means a few lights or a complete outdoor lighting system.</p>
    <p class="callout">Have a light in need of repair? <a href="/business/savings-and-energy/rebates-and-programs/outdoor-lighting/report-an-outage">Use our tool to report an outage</a>.</p>
    <p>For all other inquiries:</p>
    <form method="post" name="contactUsForm" id="OutdoorLighting" ng-submit="submitForm(contactUsForm.$valid, contactUsForm)" novalidate>
      <label>
        <span class="title">Contact Name * <span ng-show="
          contactUsForm.contactName.$invalid
          && contactUsForm.contactName.$error.required != true
          && contactUsForm.$submitted
        ">Invalid</span><span ng-show="
          contactUsForm.contactName.$error.required
          && contactUsForm.$submitted
        ">Required</span></span>
        <input type="text" name="contactName" placeholder="Name" ng-model="contactName" ng-required="true">
      </label>
      <label>
        <span class="title">Email Address * <span ng-show="
          contactUsForm.emailAddress.$invalid
          && contactUsForm.emailAddress.$error.required != true
          && contactUsForm.$submitted
        ">Invalid</span><span ng-show="
          contactUsForm.emailAddress.$error.required
          && contactUsForm.$submitted
        ">Required</span></span>
        <input type="email" name="emailAddress" placeholder="Email Address" ng-model="emailAddress" ng-required="true">
      </label>
      <label>
        <span class="title">Type of Light</span>
        <select name="customerType" ng-model="customerType">
          <option value="Residential">Residential</option>
          <option value="Commercial" selected>Commercial</option>
          <option value="Industrial">Industrial</option>
          <option value="Government">Governmental</option>
        </select>
      </label>
      <label>
        <span class="title">Type of Inquiry</span>
        <select name="enquiryType" ng-model="enquiryType">
          <option value="General" selected>General Inquiry</option>
    			<option value="New Light">New Light</option>
    			<option value="Upgrade">Upgrade</option>
    			<option value="Free Lighting Analysis">Free Lighting Analysis</option>
    			<option value="Other">Other</option>
        </select>
      </label>
      <label>
        <span class="title">Company</span>
        <input type="text" name="companyName" ng-model="companyName" placeholder="Company">
      </label>
      <label>
        <span class="title">Phone * <span ng-show="
          contactUsForm.phoneNumber.$invalid
          && contactUsForm.phoneNumber.$error.required != true
          && contactUsForm.$submitted
        ">Invalid</span><span ng-show="
          contactUsForm.phoneNumber.$error.required
          && contactUsForm.$submitted
        ">Required</span></span>
        <input type="text" name="phoneNumber" ng-model="phoneNumber" placeholder="Phone Number" ng-required="true">
      </label>
      <label>
        <span class="title">Address * <span ng-show="
          contactUsForm.addressLine1.$invalid
          && contactUsForm.addressLine1.$error.required != true
          && contactUsForm.$submitted
        ">Invalid</span><span ng-show="
          contactUsForm.addressLine1.$error.required
          && contactUsForm.$submitted
        ">Required</span></span>
        <input type="text" name="addressLine1" placeholder="Address Line 1" ng-model="addressLine1" ng-required="true">
      </label>
      <label>
        <span class="title">Address (Line 2)</span>
        <input type="text" name="addressLine2" placeholder="Address (Line 2)">
      </label>
      <label>
        <span class="title">City * <span ng-show="
          contactUsForm.city.$invalid
          && contactUsForm.city.$error.required != true
          && contactUsForm.$submitted
        ">Invalid</span><span ng-show="
          contactUsForm.city.$error.required
          && contactUsForm.$submitted
        ">Required</span></span>
        <input type="text" name="city" placeholder="City" ng-model="city" ng-pattern="/[a-zA-Z-\s]+/" ng-required="true">
      </label>
      <label>
        <span class="title">State * <span ng-show="
          contactUsForm.state.$invalid
          && contactUsForm.state.$error.required != true
          && contactUsForm.$submitted
        ">Invalid</span><span ng-show="
          contactUsForm.state.$error.required
          && contactUsForm.$submitted
        ">Required</span></span>
        <select name="state" ng-model="state" ng-required="true">
          <option value="FL" selected>Florida</option>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DC">District of Columbia</option>
          <option value="DE">Delaware</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
      </label>
      <label>
        <span class="title">ZIP Code * <span ng-show="
          contactUsForm.zip.$invalid
          && contactUsForm.zip.$error.required != true
          && contactUsForm.$submitted
        ">Invalid</span><span ng-show="
          contactUsForm.zip.$error.required
          && contactUsForm.$submitted
        ">Required</span></span>
        <input type="text" name="zip" placeholder="ZIP Code" ng-model="zip" ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/" ng-required="true">
      </label>
      <label>
        <span class="title">Gulf Power Account Number</span>
        <input type="text" name="accountNumber" ng-model="accountNumber" placeholder="#### - ####">
      </label>
      <label class="message">
        <span class="title">How can we help you? <span ng-show="contactUsForm.notes.$invalid && contactUsForm.$submitted">(Please shorten your message)</span></span>
        <textarea name="notes" ng-model="notes" rows="8" cols="40" placeholder="Message" ng-maxlength="400"></textarea>
      </label>
      <button role="button" type="submit">Submit</button>
    </form>
  </div>
	<div class="fade-in content-region callout success" ng-show="thanksMessage" ng-bind-html="thanksMessage">{{ thanksMessage }}</div>
</section>

<div class="content-section faq">
  <section class="text-section faq-section">
    <h2>Additional Information and Resources</h2>
    <div class="faqs">
      <h3>Municipal Service Business Units</h3>
      <section>
        <p>Gulf Power can provide outdoor lighting to meet customer&apos;s unique location or sustainability requirements and provide quality nighttime illumination.</p>
        <p>At Gulf Power Company, we work closely with builders/developers, homeowner groups and the Counties we serve to facilitate establishment of street lighting MSBUs. The MSBU is an excellent vehicle for customers to obtain and pay for lighting services. While the procedures vary slightly from county to county, the MSBU enables homeowners to install and pay for lighting services either through an annual assessment on the property tax bill or a monthly assessment on the water bill (depending on the county). Once the MSBU is approved, the County becomes Gulf&apos;s customer of record for the MSBU. The County utilizes the funds collected through the MSBU assessment to pay Gulf Power for the monthly lighting services.</p>
        <p>To view a county&apos;s policy, please click on the name below:</p>
        <p><a href="https://myescambia.com/our-services/budget/msbu" target="_blank" title="External Link &mdash; Opens in a new tab">Escambia County</a></p>
        <p><a href="https://www.santarosa.fl.gov/governing-src/index.cfm?Menu=47" target="_blank" title="External Link &mdash; Opens in a new tab">Santa Rosa County</a></p>
        <p><a href="http://www.co.okaloosa.fl.us/pw/msbu" target="_blank" title="External Link &mdash; Opens in a new tab">Okaloosa County</a></p>
      </section>

      <h3>Outdoor Lighting Glossary of Terms</h3>
      <section>
        <div class="table-section-container">
          <section class="table-section">
            <table>
              <tbody>
                <tr>
                  <td>Color Rendering</td>
                  <td>General expression for the effect of a light source on color appearance of objects when compared with their color appearance under a reference light source. The Color Rendering Index (CRI) scale ranges from 0 to 100, with higher numbers designating better color rendering.</td>
                </tr>
                <tr>
                  <td>Correlated Color Temperature (CCT)</td>
                  <td>The color appearance of light produced by a light source measured with the Kelvin Scale (K). Low CCTs have a warm appearance (red, orange, yellow). High CCTs have a cool appearance (blue or blue-white).</td>
                </tr>
                <tr>
                  <td>Efficacy</td>
                  <td>The ratio of light from a lamp, fixture or luminaire to the electrical power (watts) consumed. Usually expressed in lumens per watt.</td>
                </tr>
                <tr>
                  <td>Efficiency</td>
                  <td>The absolute percentage of light produced within a fixture that is not absorbed by the fixture, but actually leaves the fixture.</td>
                </tr>
                <tr>
                  <td>Footcandle (fc)</td>
                  <td>A quantitative unit for measuring luminance; the illumination on a surface one foot square on which there is a uniformly distributed flux of one lumen.</td>
                </tr>
                <tr>
                  <td>HID</td>
                  <td>High intensity discharge lighting, including mercury vapor, high pressure sodium and metal halide light sources.</td>
                </tr>
                <tr>
                  <td>Illuminance (Illumination)</td>
                  <td>The total amount of visible light illuminating a point on a surface from all directions above the surface.</td>
                </tr>
                <tr>
                  <td>Lamp</td>
                  <td>A light source. Lamps used for outdoor lighting include high intensity discharge, incandescent and fluorescent.</td>
                </tr>
                <tr>
                  <td>Lamp Lumen Depreciation</td>
                  <td>A factor used in lighting calculations to account for the light loss that takes place in a lamp due to the gradual decay in lumen output over a specified period of burning time.</td>
                </tr>
                <tr>
                  <td>Lens</td>
                  <td>The shielding or diffuser portion of a fixture made of plastic or glass, through which the light passes on its way to the seeing task.</td>
                </tr>
                <tr>
                  <td>Lighting Distribution</td>
                  <td>Luminaires are classified according to the manner in which they control or distribute the luminous flux.</td>
                </tr>
                <tr>
                  <td>Light Emitting Diode (LED)</td>
                  <td>An LED is a small light source that becomes illuminated by the movement of electrons through a semiconductor material. LEDs have the ability to produce large numbers of lumens from far less energy (watts) than conventional light sources.</td>
                </tr>
                <tr>
                  <td>Light Loss Factor</td>
                  <td>A factor used in calculating the level of illumination after a given period of time and under given conditions that takes into account dirt accumulations on the luminaire, lamp depreciation, maintenance procedures and atmosphere conditions.</td>
                </tr>
                <tr>
                  <td>Light Trespass</td>
                  <td>A situation which occurs when, due to lack of adequate beam control, light from a source is distributed onto areas where the illumination is not wanted.</td>
                </tr>
                <tr>
                  <td>Lumen</td>
                  <td>The unit of light output. Light output is also referred to as light flux.</td>
                </tr>
                <tr>
                  <td>Luminaire (outdoor lighting fixture)</td>
                  <td>A complete lighting unit consisting of a lamp or lamps together with the parts designed to distribute the light, position and protect the lamps, and to connect the lamps to the power supply.</td>
                </tr>
                <tr>
                  <td>Luminaire Dirt Depreciation (LDD)</td>
                  <td>A factor used in lighting calculations to account for the light loss due to the accumulation of dirt on the luminaire. The LDD is contingent upon environment, cleaning schedules and the type of luminaire used.</td>
                </tr>
                <tr>
                  <td>Mounting Height</td>
                  <td>The vertical distance between the luminaire and the surface to be lighted. It includes both the pole length and the base above grade to which the pole is mounted.</td>
                </tr>
                <tr>
                  <td>Optical System</td>
                  <td>The lamp cavity or environment designed as part of the luminaire for the purpose of controlling light output.</td>
                </tr>
                <tr>
                  <td>Reflector</td>
                  <td>A device used to direct the light from a source by the process of reflection.</td>
                </tr>
                <tr>
                  <td>Refractor</td>
                  <td>A device used to direct the luminous flux from a source primarily by the process of refraction.</td>
                </tr>
                <tr>
                  <td>Uniformity</td>
                  <td>A measure of how evenly or smoothly the lighting level is spread over an area. It is expressed as a uniformity ratio of average foot-candles divided by the minimum allowable foot-candles. The lower the ratio, the better. Visually, observing an area with bright spots beneath outdoor lighting fixtures surrounded by dark spots is an indication of poor lighting uniformity.</td>
                </tr>
                <tr>
                  <td>Watt</td>
                  <td>A measure of the amount of electrical power required by a product to operate at any given instant.</td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
      </section>

      <h3>Gulf Power Position Statement on Light Pollution</h3>
      <section>
        <p>Light pollution has become a significant issue for many communities as well as some national and international organizations. Light pollution is defined as &ldquo;any adverse effect of artificial light, including sky glow, glare, light trespass, light clutter, decreased visibility at night, and energy waste.&rdquo;</p>
        <p>We at Gulf Power believe that by combining our expertise with organizations such as the illuminating Engineering Society of North America (IESNA), the National Electrical Manufacturers Association (NEMA) and other focused groups, we can identify solutions that preserve and protect the night sky while still providing the illumination people need.</p>
        <p>Our outdoor lighting experts combine their design skills with a wide range of products to offer systems that meet our customers' performance, safety, security and economic criteria while minimizing sky glow and light trespass.</p>
        <p>Process for designing effective outdoor lighting:</p>
        <ul>
          <li>Evaluate need for lighting</li>
          <li>Determine appropriate light level based on IESNA guidelines</li>
          <li>Contain light and glare within property lines with proper pole and lamp selection and placement</li>
          <li>Consider controls that allow lights to be turned off or to reduce light levels during inactive periods</li>
          <li>We anticipate awareness of light pollution will continue to grow as new research is published concerning its relationship to health, ecology, wildlife, etc. For additional information on outdoor lighting and Gulf Power's commitment to offering innovative ideas, please contact us at <a href="tel::18887688458" class="phone-number">1-888-768-8458</a>.</li>
        </ul>
      </section>

      <h3>Gulf Power Position Statement on Light Emitting Diode (LED) Outdoor Lighting Systems</h3>
      <section>
        <p>Outdoor lighting systems using new Solid-State LED technology have attracted considerable news media attention and public interest. Since 2008, Gulf Power has tested and evaluated this technology and monitored the progress being made to make this a viable light source option for our customers for outdoor lighting applications. Information from LED and lighting fixture manufacturers and professional organizations including the American National Standards Institute (ANSI), the Illuminating Engineering Society of North America (IESNA), the U.S. Department of Energy (DOE), and the Electric Power Research Institute (EPRI) has been included in our review and evaluation process.</p>
        <p>Gulf Power believes LED is a very viable outdoor lighting technology, offering energy savings, long life, reduced maintenance, surface illuminance uniformity and the ability to more precisely control light distribution for outdoor lighting applications.</p>
        <p>With the advances made in the development of solid-state lighting technology and the availability of LED lighting products for roadway and area lighting applications, Gulf Power, in January 2012, added to its product offering LED outdoor lighting products for select applications from manufacturers whose products met our quality and performance criteria. We expect that the ongoing progress and improvements being made in LED outdoor lighting will enable us to continue adding LED products for additional lighting applications to meet our customer's needs.</p>
        <p>For additional information please contact Gulf Power at <a href="tel::18887688458" class="phone-number">1-888-768-8458</a>.</p>
      </section>
    </div>
  </section>
</div>
