<div id="design-a-light-content" class="banner content-section">
  <div class="content-region">
    <div id="header-content" class="with-image-landing office-park">
      <div class="intro-content">
        <h2>Create Your Own Light</h2>
        <p>The right streetlamp can really brighten up the area outside of your home or business- literally! Our Create Your Own Light tool allows you to envision the perfect streetlamp for any area. First, select the image that most closely resembles your environment. Then, use the two sets of arrows to scroll through different types of light fixtures and poles to find your perfect match. Once you&apos;ve selected your favorites, they will be highlighted below; click &ldquo;Add to Favorites&rdquo; and fill out the Request More Information form to learn more about purchasing and installing your new light!</p>
      </div>

      <div id="dal-tool-container">
        <div id="dal-tool-content">
          <div id="fixtures-carousel" class="carousel fixture" data-product-type="fixtures">
            <div class="carousel-navigation">
              <a href="#" class="prev" data-direction="prev"></a>
              <a href="#" class="next" data-direction="next"></a>
            </div>
            <div class="flexslider fixtures">
              <ul class="slides">
                <li><img src="/images/design-a-light/updated-dal-images/Display_Fixture_Acorn.png" alt="Display_Fixture_Acorn" width="470" height="206" /></li>
                <li><img src="/images/design-a-light/updated-dal-images/Display_Fixture_Coach.png" alt="Display_Fixture_Coach" width="470" height="206" /></li>
                <li><img src="/images/design-a-light/updated-dal-images/Display_Fixture_Colonial.png" alt="Display_Fixture_Colonial" width="470" height="206" /></li>
                <li><img src="/images/design-a-light/updated-dal-images/Display_Fixture_Destin.png" alt="Display_Fixture_Destin" width="470" height="206" /></li>
                <li><img src="/images/design-a-light/updated-dal-images/Display_Fixture_Destin_Double.png" alt="Display_Fixture_Destin_Double" width="470" height="206" /></li>
                <li><img src="/images/design-a-light/updated-dal-images/Display_Fixture_Autobaun_Light.png" alt="Display_Fixture_Autobaun_Light" width="470" height="206" /></li>
                <li><img src="/images/design-a-light/updated-dal-images/Display_Fixture_LED_Roadway.png" alt="Display_Fixture_LED_Roadway" width="470" height="206" /></li>
                <li><img src="/images/design-a-light/updated-dal-images/Display_Fixture_LED_Security.png" alt="Display_Fixture_LED_Security" width="470" height="206" /></li>
                <li><img src="/images/design-a-light/updated-dal-images/Display_Fixture_Cobra_Head.png" alt="Display_Fixture_Cobra_Head" width="470" height="206" /></li>
              </ul>
            </div>
          </div>
          <div id="poles-carousel" class="carousel pole" data-product-type="poles">
            <div class="carousel-navigation">
              <a href="#" class="prev" data-direction="prev"></a>
              <a href="#" class="next" data-direction="next"></a>
            </div>
            <div class="flexslider poles">
              <ul class="slides">
                <li><img src="/images/design-a-light/updated-dal-images/Display_Pole_Decorative_Grand.png" alt="Display_Pole_Decorative_Grand" width="470" height="418" /></li>
                <li><img src="/images/design-a-light/updated-dal-images/Display_Pole_Decorative_Fluted.png" alt="Display_Pole_Decorative_Fluted" width="470" height="418" /></li>
                <li><img src="/images/design-a-light/updated-dal-images/Display_Pole_Decorative_York.png" alt="Display_Pole_Decorative_York" width="470" height="418" /></li>
                <li><img class="pole-image" src="/images/design-a-light/updated-dal-images/Display_Pole_Standard_Round.png" alt="Standard Round image" ></li>
                <li><img src="/images/design-a-light/updated-dal-images/Display_Pole_Standard_Concrete_Tenon.png" alt="Display_Pole_Standard_Concrete_Tenon" width="470" height="418" /></li>
                <li><img src="/images/design-a-light/updated-dal-images/Display_Pole_Standard_Concrete_Capped.png" alt="Display_Pole_Standard_Concrete_Capped" width="470" height="418" /></li>
                <li><img src="/images/design-a-light/updated-dal-images/Display_Pole_Bolted_Base.png" alt="Display_Pole_Bolted_Base" width="470" height="418" /></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="scene-switch-buttons">
        <h3>Select Environment</h3>
        <div>
          <a href="#" class="scene-switcher" rel="DisplayBackground-Park"><img src="/images/design-a-light/backgrounds/DisplayBackgroundThumb_Park.jpg" alt="DisplayBackground_Park"/></a>
          <a href="#" class="scene-switcher" rel="DisplayBackground-ParkingLot"><img src="/images/design-a-light/backgrounds/DisplayBackgroundThumb_ParkingLot.jpg" alt="DisplayBackground_Park"/></a>
          <a href="#" class="scene-switcher" rel="DisplayBackground-Residential"><img src="/images/design-a-light/backgrounds/DisplayBackgroundThumb_Residential.jpg" alt="DisplayBackground_Park"/></a>
          <a href="#" class="scene-switcher" rel="DisplayBackground-Retail"><img src="/images/design-a-light/backgrounds/DisplayBackgroundThumb_Retail.jpg" alt="DisplayBackground_Park"/></a>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="content-region">
  <div id="content" style="position: relative;">

    <!--// TABS //-->
    <div id="design-a-light-products">
      <!--
      <div id="dal-navigation">
        <a href="#" class="panel-switcher fixtures" data-panel="fixtures-descriptions">Light Fixtures</a>
        <a href="#" class="panel-switcher poles" data-panel="poles-descriptions">Light Poles</a>
        <a href="#" class="panel-switcher your-items" data-panel="your-items-container">Your Items</a>
        <div class="clearfix"></div>
      </div>
-->

      <!--// BOXES //-->
      <div id="product-selection">
        <div id="fixtures-descriptions" class="descriptions-container">
          <h3>Light Fixtures</h3>
          <div class="fixtures-list">
            <div id="" class="product fixture active" data-index="0" data-product-type="fixture">
              <h4 class="selected">On Display</h4>
              <div class="product-image-container"><img class="fixture-image product-image" src="/images/design-a-light/updated-dal-images/Panel_Fixture_Acorn.jpg" alt="Acorn image" ></div>
              <div class="product-info-container">
                <h3 class="product-name">Acorn</h3>
                <p class="desc">The Acorn compliments highways, parks and residential roadways.</p>
                <p class="watts"><strong>Watts:</strong> 75W, 100W, 150W</p>
                <p class="source"><strong>Source:</strong> LED, HPS, MH</p>
                <p class="globe"><strong>Globe:</strong> Acrylic, Glass</p>
                <div class="add-remove">
                  <input class="fav-add fixture" type="checkbox" value="" data-product-name="Acorn">
                  <a href="#" class="add-item">Add to Favorites</a>
                  <p class="added-message">Added to List</p><a href="#" class="remove-item">- Remove From Favorites</a>
                </div>
              </div>
            </div>
            <div id="" class="product fixture " data-index="1" data-product-type="fixture">
              <h4 class="selected">On Display</h4>
              <div class="product-image-container"><img class="fixture-image product-image" src="/images/design-a-light/updated-dal-images/Panel_Fixture_Coach.jpg" alt="Coach image" ></div>
              <div class="product-info-container">
                <h3 class="product-name">Coach</h3>
                <p class="desc">The Coach displays elegance coupled with superior lightning performance.</p>
                <p class="watts"><strong>Watts:</strong> 100W, 150W</p>
                <p class="source"><strong>Source:</strong> HPS, MH</p>
                <div class="add-remove">
                  <input class="fav-add fixture" type="checkbox" value="" data-product-name="Coach">
                  <a href="#" class="add-item">Add to Favorites</a>
                  <p class="added-message">Added to List</p><a href="#" class="remove-item">- Remove From Favorites</a>

                </div>
              </div>
            </div>
            <div id="" class="product fixture " data-index="2" data-product-type="fixture">
              <h4 class="selected">On Display</h4>
              <div class="product-image-container"><img class="fixture-image product-image" src="/images/design-a-light/updated-dal-images/Panel_Fixture_Colonial.jpg" alt="Colonial image" ></div>
              <div class="product-info-container">
                <h3 class="product-name">Colonial</h3>
                <p class="desc">Colonial offers the traditional charm of area lighting.</p>
                <p class="watts"><strong>Watts:</strong> 45W, 100W, 150W</p>
                <p class="source"><strong>Source:</strong> LED, HPS, MH</p>
                <div class="add-remove">
                  <input class="fav-add fixture" type="checkbox" value="" data-product-name="Colonial">
                  <a href="#" class="add-item">Add to Favorites</a>
                  <p class="added-message">Added to List</p><a href="#" class="remove-item">- Remove From Favorites</a>

                </div>
              </div>
            </div>
            <div id="" class="product fixture " data-index="3" data-product-type="fixture">
              <h4 class="selected">On Display</h4>
              <div class="product-image-container"><img class="fixture-image product-image" src="/images/design-a-light/updated-dal-images/Panel_Fixture_Destin.jpg" alt="Destin - Single image" ></div>
              <div class="product-info-container">
                <h3 class="product-name">Destin - Single</h3>
                <p class="desc">The Destin fixture with the Bishop Hook Arm is a new style to area lighting.</p>
                <p class="watts"><strong>Watts:</strong> 100W, 105W, 150W</p>
                <p class="source"><strong>Source:</strong> LED, HPS, MH</p>
                <div class="add-remove">
                  <input class="fav-add fixture" type="checkbox" value="" data-product-name="Destin - Single">
                  <a href="#" class="add-item">Add to Favorites</a>
                  <p class="added-message">Added to List</p><a href="#" class="remove-item">- Remove From Favorites</a>

                </div>
              </div>
            </div>
            <div id="" class="product fixture " data-index="4" data-product-type="fixture">
              <h4 class="selected">On Display</h4>
              <div class="product-image-container"><img class="fixture-image product-image" src="/images/design-a-light/updated-dal-images/Panel_Fixture_Destin_Double.jpg" alt="Destin - Double image" ></div>
              <div class="product-info-container">
                <h3 class="product-name">Destin - Double</h3>
                <p class="desc">The Destin double offers lighting for roadway and sidewalks.</p>
                <p class="watts"><strong>Watts:</strong> 100W, 105W, 150W</p>
                <p class="source"><strong>Source:</strong> LED, HPS, MH</p>
                <div class="add-remove">
                  <input class="fav-add fixture" type="checkbox" value="" data-product-name="Destin - Double">
                  <a href="#" class="add-item">Add to Favorites</a>
                  <p class="added-message">Added to List</p><a href="#" class="remove-item">- Remove From Favorites</a>

                </div>
              </div>
            </div>
            <div id="" class="product fixture " data-index="5" data-product-type="fixture">
              <h4 class="selected">On Display</h4>
              <div class="product-image-container"><img class="fixture-image product-image" src="/images/design-a-light/updated-dal-images/Panel_Fixture_Autobaun_Light.jpg" alt="Autobahn LED image" ></div>
              <div class="product-info-container">
                <h3 class="product-name">Autobahn LED</h3>
                <p class="desc">The Autobahn LED streetlight offers sleek styling, superior optics, and excellent performance.</p>
                <p class="watts"><strong>Watts:</strong> 71W, 108W, 280W</p>
                <p class="source"><strong>Source:</strong> LED</p>
                <div class="add-remove">
                  <input class="fav-add fixture" type="checkbox" value="" data-product-name="Autobahn LED">
                  <a href="#" class="add-item">Add to Favorites</a>
                  <p class="added-message">Added to List</p><a href="#" class="remove-item">- Remove From Favorites</a>

                </div>
              </div>
            </div>
            <div id="" class="product fixture " data-index="6" data-product-type="fixture">
              <h4 class="selected">On Display</h4>
              <div class="product-image-container"><img class="fixture-image product-image" src="/images/design-a-light/updated-dal-images/Panel_Fixture_LED_Roadway.jpg" alt="LED Roadway I image" ></div>
              <div class="product-info-container">
                <h3 class="product-name">LED Roadway I</h3>
                <p class="desc">The Roadway I offers lighting for roadway.</p>
                <p class="watts"><strong>Watts:</strong> 62W</p>
                <p class="source"><strong>Source:</strong> LED</p>

                <div class="add-remove">
                  <input class="fav-add fixture" type="checkbox" value="" data-product-name="LED Roadway I">
                  <a href="#" class="add-item">Add to Favorites</a>
                  <p class="added-message">Added to List</p><a href="#" class="remove-item">- Remove From Favorites</a>

                </div>
              </div>
            </div>
            <div id="" class="product fixture " data-index="7" data-product-type="fixture">
              <h4 class="selected">On Display</h4>
              <div class="product-image-container"><img class="fixture-image product-image" src="/images/design-a-light/updated-dal-images/Panel_Fixture_LED_Security.jpg" alt="LED Security Lt image" ></div>
              <div class="product-info-container">
                <h3 class="product-name">LED Security Lt</h3>
                <p class="desc">The Security Lt offers an efficient white light which enhances visual acuity.</p>
                <p class="watts"><strong>Watts:</strong> 48W</p>
                <p class="source"><strong>Source:</strong> LED</p>
                <div class="add-remove">
                  <input class="fav-add fixture" type="checkbox" value="" data-product-name="LED Security Lt">
                  <a href="#" class="add-item">Add to Favorites</a>
                  <p class="added-message">Added to List</p><a href="#" class="remove-item">- Remove From Favorites</a>

                </div>
              </div>
            </div>
            <div id="" class="product fixture " data-index="8" data-product-type="fixture">
              <h4 class="selected">On Display</h4>
              <div class="product-image-container"><img class="fixture-image product-image" src="/images/design-a-light/updated-dal-images/Panel_Fixture_Cobra_Head.jpg" alt="Cobra Head (Full Cut-off) image" ></div>
              <div class="product-info-container">
                <h3 class="product-name">Cobra Head (Full Cut-off)</h3>
                <p class="desc">The full cut-off cobrahead is dark sky friendly.</p>
                <p class="watts"><strong>Watts:</strong> 100W, 250W, 400W</p>
                <p class="source"><strong>Source:</strong> HPS</p>
                <p class="globe"><strong>Globe:</strong> </p>
                <div class="add-remove">
                  <input class="fav-add fixture" type="checkbox" value="" data-product-name="Cobra Head (Full Cut-off)">
                  <a href="#" class="add-item">Add to Favorites</a>
                  <p class="added-message">Added to List</p><a href="#" class="remove-item">- Remove From Favorites</a>

                </div>
              </div>
            </div>


          </div>
          <div class="direction-nav"><a href="#" class="nav-prev">Prev</a><a href="#" class="nav-next">Next</a></div>
        </div>
        <div id="poles-descriptions" class="descriptions-container">
          <h3>Light Poles</h3>
          <div class="poles-list">
            <div class="product pole active" data-index="0" data-product-type="pole">
              <h4 class="selected">On Display</h4>
              <div class="product-image-container"><img class="pole-image product-image" src="/images/design-a-light/updated-dal-images/Panel_Pole_Decorative_Grand.jpg" alt="Decorative Grand image" ></div>
              <div class="product-info-container">
                <h3 class="product-name">Decorative Grand</h3>
                <p class="material"><strong>Material(s):</strong> Aluminum, Direct Buried</p>
                <p class="color"><strong>Color:</strong> Black</p>
                <p class="pole-length"><strong>Length:</strong> 16', 17' &amp; 20'</p>
                <p class="mount-height"><strong>Mount Height:</strong> 12' &amp; 16'</p>
                <div class="add-remove">
                  <input class="fav-add pole" type="checkbox" value="" data-product-name="Decorative Grand">
                  <a href="#" class="add-item">Add to Favorites</a>
                  <p class="added-message">Added to List</p><a href="#" class="remove-item">- Remove From Favorites</a>

                </div>
              </div>
            </div>
            <div class="product pole" data-index="1" data-product-type="pole">
              <h4 class="selected">On Display</h4>
              <div class="product-image-container"><img class="pole-image product-image" src="/images/design-a-light/updated-dal-images/Panel_Pole_Decorative_Fluted.jpg" alt="Decorative Fluted image" ></div>
              <div class="product-info-container">
                <h3 class="product-name">Decorative Fluted</h3>
                <p class="material"><strong>Material(s):</strong> Concrete, Direct Buried</p>
                <p class="color"><strong>Color:</strong> Black, Brown, Green, Gray, High Gloss Black, Red &amp;amp; Desert Sand</p>
                <p class="pole-length"><strong>Length:</strong> 18'</p>
                <p class="mount-height"><strong>Mount Height:</strong> 13'</p>
                <div class="add-remove">
                  <input class="fav-add pole" type="checkbox" value="" data-product-name="Decorative Fluted">
                  <a href="#" class="add-item">Add to Favorites</a>
                  <p class="added-message">Added to List</p><a href="#" class="remove-item">- Remove From Favorites</a>

                </div>
              </div>
            </div>
            <div class="product pole" data-index="2" data-product-type="pole">
              <h4 class="selected">On Display</h4>
              <div class="product-image-container"><img class="pole-image product-image" src="/images/design-a-light/updated-dal-images/Panel_Pole_Decorative_York.jpg" alt="Decorative York image" ></div>
              <div class="product-info-container">
                <h3 class="product-name">Decorative York</h3>
                <p class="material"><strong>Material(s):</strong> Aluminum, Direct Buried</p>
                <p class="color"><strong>Color:</strong> Black</p>
                <p class="pole-length"><strong>Length:</strong> 18'</p>
                <p class="mount-height"><strong>Mount Height:</strong> 14'</p>
                <div class="add-remove">
                  <input class="fav-add pole" type="checkbox" value="" data-product-name="Decorative York">
                  <a href="#" class="add-item">Add to Favorites</a>
                  <p class="added-message">Added to List</p><a href="#" class="remove-item">- Remove From Favorites</a>
                </div>
              </div>
            </div>
            <div class="product pole" data-index="3" data-product-type="pole">
              <h4 class="selected">On Display</h4>
              <div class="product-image-container"><img class="pole-image product-image" src="/images/design-a-light/updated-dal-images/Panel_Pole_Standard_Round.jpg" alt="Standard Round image" ></div>
              <div class="product-info-container">
                <h3 class="product-name">Standard Round</h3>
                <p class="material"><strong>Material(s):</strong> Aluminum, Direct Buried</p>
                <p class="color"><strong>Color:</strong> Black, Bronze (35' only)</p>
                <p class="pole-length"><strong>Length:</strong> 20', 25', 30' &amp; 35'</p>
                <p class="mount-height"><strong>Mount Height:</strong> 16', 20', 25' &amp; 30'</p>
                <div class="add-remove">
                  <input class="fav-add pole" type="checkbox" value="" data-product-name="Standard Round">
                  <a href="#" class="add-item">Add to Favorites</a>
                  <p class="added-message">Added to List</p><a href="#" class="remove-item">- Remove From Favorites</a>

                </div>
              </div>
            </div>
            <div class="product pole" data-index="4" data-product-type="pole">
              <h4 class="selected">On Display</h4>
              <div class="product-image-container"><img class="pole-image product-image" src="/images/design-a-light/updated-dal-images/Panel_Pole_Standard_Concrete_Tenon.jpg" alt="Standard Concrete Tenon image" ></div>
              <div class="product-info-container">
                <h3 class="product-name">Standard Concrete Tenon</h3>
                <p class="material"><strong>Material(s):</strong> Concrete, Direct Buried</p>
                <p class="color"><strong>Color:</strong> Gray</p>
                <p class="pole-length"><strong>Length:</strong> 35' &amp; 45'</p>
                <p class="mount-height"><strong>Mount Height:</strong> 29' &amp; 38'</p>
                <div class="add-remove">
                  <input class="fav-add pole" type="checkbox" value="" data-product-name="Standard Concrete Tenon">
                  <a href="#" class="add-item">Add to Favorites</a>
                  <p class="added-message">Added to List</p><a href="#" class="remove-item">- Remove From Favorites</a>

                </div>
              </div>
            </div>
            <div class="product pole" data-index="5" data-product-type="pole">
              <h4 class="selected">On Display</h4>
              <div class="product-image-container"><img class="pole-image product-image" src="/images/design-a-light/updated-dal-images/Panel_Pole_Standard_Concrete_Capped.jpg" alt="Standard Concrete Capped image" ></div>
              <div class="product-info-container">
                <h3 class="product-name">Standard Concrete Capped</h3>
                <p class="material"><strong>Material(s):</strong> Concrete, Direct Buried</p>
                <p class="color"><strong>Color:</strong> Gray</p>
                <p class="pole-length"><strong>Length:</strong> 30', 35' &amp; 40'</p>
                <p class="mount-height"><strong>Mount Height:</strong> 24', 29' &amp; 34'</p>
                <div class="add-remove">
                  <input class="fav-add pole" type="checkbox" value="" data-product-name="Standard Concrete Capped">
                  <a href="#" class="add-item">Add to Favorites</a>
                  <p class="added-message">Added to List</p><a href="#" class="remove-item">- Remove From Favorites</a>

                </div>
              </div>
            </div>
            <div class="product pole" data-index="6" data-product-type="pole">
              <h4 class="selected">On Display</h4>
              <div class="product-image-container"><img class="pole-image product-image" src="/images/design-a-light/updated-dal-images/Panel_Pole_Bolted_Base.jpg" alt="Bolted Base image" ></div>
              <div class="product-info-container">
                <h3 class="product-name">Bolted Base</h3>
                <p class="material"><strong>Material(s):</strong> Aluminum, Bolted Base</p>
                <p class="color"><strong>Color:</strong> Unfinished Aluminum</p>
                <p class="pole-length"><strong>Length:</strong> 22'</p>
                <p class="mount-height"><strong>Mount Height:</strong> w/ Concrete Base: 25'</p>
                <div class="add-remove">
                  <input class="fav-add pole" type="checkbox" value="" data-product-name="Bolted Base">
                  <a href="#" class="add-item">Add to Favorites</a>
                  <p class="added-message">Added to List</p><a href="#" class="remove-item">- Remove From Favorites</a>
                </div>
            </div>
          </div>
        </div>
         <div class="direction-nav"><a href="#" class="nav-prev">Prev</a><a href="#" class="nav-next">Next</a></div>
      </div>

      <div id="your-items-container">
        <h2>Your Favorites</h2>
        <div id="saved-items-container">
          <div id="saved-items">
            <p class="favs-empty-message">You don&apos;t have anything saved to your favorites. Use the tool above to add fixtures and poles to your favorites; you can then contact us for more information about your preferred outdoor lighting configurations.</p>
            <div class="items">
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

      </div>
    </div>
  </div>


  <div class="clear"></div>
</div>

</div><!--// this was missing //-->

  <section class="contact-form" id="contact-form">
    <div class="content-region" ng-hide="hideAfterValidSubmit">  
       <form method="post" id="DesignALight" name="designALightForm" class="contact-form" ng-submit="submitForm(designALightForm.$valid, designALightForm)" novalidate>
        <legend>
          <h2>Request More Information</h2>
          <!--//<p>* = Required</p>//-->
        </legend>

        <fieldset>
          <label>
            <span class="title">Name * <span ng-show="
              designALightForm.customerName.$invalid
              && designALightForm.customerName.$error.required != true
              && designALightForm.$submitted
            ">Invalid</span><span ng-show="
              designALightForm.customerName.$error.required
              && designALightForm.$submitted
            ">Required</span></span>
            <input id="name" name="customerName" type="text" placeholder="Name" ng-model="customerName" ng-pattern="/[a-zA-Z-\s]+/" ng-required="true">
          </label>

          <label>
            <span class="title">Email * <span ng-show="
              designALightForm.email.$invalid
              && designALightForm.email.$error.required != true
              && designALightForm.$submitted
            ">Invalid</span><span ng-show="
              designALightForm.email.$error.required
              && designALightForm.$submitted
            ">Required</span></span>
            <input id="email" name="email" type="email" ng-model="email" placeholder="Email" ng-required="true">
          </label>
          
          <label class="middle-field">
          	<span class="title">Phone Number</span>
        		<input type="tel" name="phone" placeholder="Phone Number" ng-model="phone">
     			</label>

          <label>
            <span class="title">Address</span>
            <input id="address" name="address" ng-model="address" type="text" placeholder="Street Address">
          </label>
          <label>
            <span class="title">City, State, Zip</span>
            <input id="city-state-zip" name="cityStateZip" ng-model="cityStateZip" type="text" placeholder="City, State, Zip">
          </label>

          <textarea id="comments" class="textarea" name="comments" ng-model="comments" placeholder="Comments"></textarea>
          
					<label><input id="products-inquiring-about" name="products-inquiring-about" type="text" ng-model="products" value="" placeholder="Inquiring about..."></label>
          
          <input id="subject" type="hidden" value="Design A Light">
          <input type="hidden" id="formMethod" value="DesignALight">
        </fieldset>

        <button role="button">Submit</button>

      </form>
    </div>
   	<div class="fade-in content-region callout success" ng-show="thanksMessage" ng-bind-html="thanksMessage">{{ thanksMessage }}</div>
  </section>