<div class="content-section basic-content-layout-2 page-promotional-introduction-disabled">
  <h2>Businesses Take Work. We Can Help.</h2>
  <div>
    <section class="text-section">
      <p>Running a start-up, family business, franchise or store &mdash; large or small &mdash; means a lot of hard work and long hours.</p>
      <p>Check out our resources to help give you a hand with your business, from tips to help you save money on costs to a new <a href="/business/savings-and-energy/grow-your-business/business-connect" title="External Link &mdash; Opens in a new tab">Small Business Connect</a> tool that will help connect you with the resources to make you successful.</p>
    </section>

    <section class="image-section">
      <img src="/images/illustrations/business/Image_Bus_SaveMoneyAndEnergyAtYourBusiness_2.png" alt="Illustration of powered devices">
    </section>
  </div>
</div>

<ng-include src="'templates/shared/programs-and-rebates-as-story-tiles.html'"
  ng-init="
    withIDs = [30, 31, 33];
    hideHeaderTitle = true
"></ng-include>

<div class="content-section basic-content-layout-2">
  <h2>Business Care Center</h2>
  <div>
    <section class="text-section">
      <p>Contact our dedicated business experts if you need help or more information. Call the Gulf Power Business Care Center for assistance at <a href="tel::18002255797">1-800-225-5797</a> (select "option 2" for Business), or click the link below.</p>
      <a href="/business/savings-and-energy/care-center/contact-us" class="detour-link">Contact Us</a>
    </section>

    <section class="image-section">
      <img src="/images/illustrations/business/Image_Bus_SaveMoneyAndEnergyAtYourBusiness_1.png" alt="Illustration of business tools">
    </section>
  </div>
</div>
