<div class="content-section basic-content-layout-2 page-promotional-introduction-disabled">
  <h2>Our Causes, Our Events, Our Community</h2>
  <div>
    <section class="text-section">
      <p>Gulf Power Company and its employees have a strong history of supporting the communities we live in. We take pride in not only providing great service to our customers, but also in helping to maintain and enhance our region&apos;s quality of life. Each year we contribute donations and volunteer hours to aid the many charitable and community projects throughout Northwest Florida.</p>
      <p>In 2015, the company supported local agencies, chambers of commerce, economic development groups and United Way as well as other charitable organizations with more than $3.2 million. Employees also contributed $640,000 in Northwest Florida.</p>
    </section>

    <section class="image-section">
      <img src="/images/about-us/Image_About_Us_InTheCommunity_1.png" alt="Illustration of gardening and digging">
    </section>
  </div>
</div>

<div class="slideshow slideshow-1 how-we-give-back-slideshow">
  <div>
    <div>
      <h2>How We Give Back: United Way</h2>
      <div>
        <section class="text-section">
          <p>Gulf Power contributed to the United Way agencies throughout its service area in a variety of ways, from partnering on donation-specific initiatives to providing volunteers to support their many efforts. We also hold an annual campaign to raise funds through employee donations.</p>
          <p>In 2015, the company and its employees contributed more than $510,000 to United Way. More than 150 Gulf Power employees also worked to make a difference at the annual United Way &ldquo;Day of Caring.&rdquo;</p>
        </section>

        <div class="image-section">
          <img src="/images/about-us/in-the-community/IntheCommunity_Slider_United_Way.jpg" alt="United Way">
        </div>
      </div>
    </div>
  </div>

  <div>
    <div>
      <h2>How We Give Back: Power of Service</h2>
      <div>
        <section class="text-section">
          <p>We host the Power of Service Awards Ceremony annually, to recognize local grassroots organizations that focus their work on improving the lives of the citizens of Northwest Florida. Our goal is to recognize the efforts of  smaller organizations that may not have the exposure or resources of nationally known groups. Since the inception of the program, more than 35 organizations across Northwest Florida have been recognized and awarded more than $95,000 in grants from Gulf Power.</p>
        </section>

        <div class="image-section">
          <img src="/images/about-us/in-the-community/Power_of_Service.jpg" alt="Cheque to Power of Service">
        </div>
      </div>
    </div>
  </div>

  <div>
    <div>
      <h2>How We Give Back: Charity Walks</h2>
      <div>
        <section class="text-section">
          <p>Gulf Power employees, retirees and family members &mdash; even the four-legged members &mdash; put their heart and feet into the community by supporting multiple walks throughout the year. We participate in the Heart Walk, Making Strides Against Breast Cancer, and the March of Dimes&apos; March for Babies, as well as other events in our service area. </p>
        </section>

        <div class="image-section">
          <img src="/images/about-us/in-the-community/HeartWalk.JPG" alt="Photograph of charity walkers">
        </div>
      </div>
    </div>
  </div>

  <div>
    <div>
      <h2>How We Give Back: Communities Caring at Christmas</h2>
      <div>
        <section class="text-section">
          <p>Each Christmas, Gulf Power employees take part in "Communities Caring at Christmas." This project provides Christmas for low income as well as abused, neglected and abandoned children living in foster care in Escambia, Santa Rosa, Okaloosa and Walton counties. In 2015, employee-driven donations raised more than $34,000, which included almost 150 new bicycles and helmets bought and assembled by the company's employees.</p>
        </section>

        <section class="image-section">
          <img src="/images/about-us/in-the-community/Communities_Caring_at_Christmas.JPG" alt="Photograph of a caring community at Christmas">
        </section>
      </div>
    </div>
  </div>

  <div>
    <div>
      <h2>How We Give Back: Project SHARE</h2>
      <div>
        <section class="text-section">
          <p>Provides emergency assistance to our neighbors who need help with energy bills and other energy-related needs. The program assists the elderly, the disabled, the sick and others who are experiencing financial hardship.</p>
          <p><a href="https://customerservice.southerncompany.com/ProjectShare/ProjectShare.aspx?mnuOpco=gulf&mnuType=res" class="detour-link" target="_blank">Learn More</a></p>
        </section>

        <section class="image-section">
          <img src="/images/about-us/in-the-community/ProjectShare.jpg" alt="">
        </section>
      </div>
    </div>
  </div>

  <div>
    <div>
      <h2>How We Give Back: Aiding the Fight Against Homelessness and Poverty</h2>
      <div>
        <section class="text-section">
          <p>Gulf Power works hard to power thriving communities throughout Northwest Florida by providing support &mdash; in the form of both manpower and donations &mdash; to organizations that work with our homeless and poor populations. Through partnerships with Habitat for Humanity, area food banks and others, we help provide support for those seeking and maintaining better living and independence.</p>
        </section>

        <section class="image-section">
          <img src="/images/about-us/in-the-community/Habitat.jpg" alt="Photograph of a ribbon cutting">
        </section>
      </div>
    </div>
  </div>

  <div>
    <div>
      <h2>How We Give Back: Clay Shoot</h2>
      <div>
        <section class="text-section">
          <p>Each year Gulf Power and its employees organize the Clay Shoot for America&apos;s Heroes in support of military veterans and their families. In 2015, more than $90,000 was donated to three organizations along the Gulf Coast that provide services and resources to our veterans.</p>
        </section>

        <section class="image-section">
          <img src="/images/about-us/in-the-community/Clay_Shoot.jpg" alt="Photograph of a clay shoot">
        </section>
      </div>
    </div>
  </div>
</div> <!-- .slideshow -->
<div class="slide-navigation-buttons">
  <div>
    <a class="last-slide-button">Previous</a>
    <a class="next-slide-button">Next</a>
  </div>
</div> <!-- .slide-navigation-buttons -->

<div class="content-section basic-content-layout-2">
  <div>
    <section class="text-section">
      <h3>Foundations and Educational Grants</h3>
      <p>To further deserving causes in education, Gulf Power Foundation offers educational grants to educational foundations in each county. The grants offers a number of benefits aimed at building knowledge and enhancing the quality of life and the economic well-being of our local communities.</p>
      <a href="/about-us/education-and-workforce-development#foundations-and-educational-grants" class="detour-link jump-link">Learn More</a>
    </section>
  </div>
</div>

<div class="content-section basic-content-layout-2">
  <div>
    <h3>Protecting What Matters</h3>
    <section class="text-section">
      <p>Gulf Power Company has a long history of working to provide reliable, affordable and environmentally responsible electricity to our customers. Through our dedication to the communities we serve and our commitment to the environment, we have invested in what matters to the future of Northwest Florida. Learn more about how we&apos;re protecting the natural beauty of our region.</p>
    </section>

    <section class="text-section">
      <h3>Stewardship Report</h3>
      <p>This report describes all of our stewardship projects and provides a glimpse into our investment in Northwest Florida.</p>
      <p><a href="/pdfs/in-the-community/stewardship.pdf" target="_blank" >Download Report (PDF)</a></p>
    </section>
  </div>
</div>

<div class="content-section faq">
  <section class="text-section faq-section">
    <h2>Environmental Stewardship</h2>
    <p>Gulf Power Company has a long history of working to provide reliable, affordable and environmentally responsible electricity to our customers. Through our dedication to the communities we serve and our commitment to the environment, Gulf Power has invested in what matters to the future of Northwest Florida. This stewardship report provides a glimpse into our investment in Northwest Florida.</p>

    <div class="faqs">
      <h3>Air: Plant Crist Scrubber</h3>
      <section>
        <p>In 2009, a $650-million scrubber system began operation at Plant Crist in Pensacola, Fla. Scrubbers are designed to remove up to 95 percent of sulfur dioxide emissions and up to 80 percent of oxidized mercury emissions. This innovative system produced the biggest single benefit for air quality in Gulf Power's history, slashing overall regulated emissions at the plant by more than 95 percent.</p>
        <p>The scrubber is a key factor in Gulf Power reducing company-wide emissions by more than 85 percent since 1992.</p>
        <a href="/about-us/in-the-community/plant-crist-scrubber" class="detour-link">Learn more about Plant Crist</a>
      </section>

      <h3>Water &amp; Wetlands: Central Water Reclamation Facility</h3>
      <section>
        <p>Gulf Power forged a unique partnership in 2010 with Emerald Coast Utilities Authority to use reclaimed water and improve water quality in Escambia and Pensacola bays.</p>
        <p>ECUA shut down its Main Street wastewater plant that stood in a coastal flood zone and built a new one &mdash; the ECUA Central Water Reclamation Facility &mdash; which allowed Gulf Power's Plant Crist to gain a clean source of water to operate its new scrubber control system.</p>
        <p>More than 5 billion gallons of reclaimed water have been recycled since 2010. The reclaimed water cools equipment used to generate electricity and operate the scrubber system. Putting this water to work now establishes the ECUA Central Water Reclamation Facility as a zero-discharge facility, and Gulf Power is able to help preserve a natural resource by using less water from the Escambia River.</p>
        <p>This partnership received a 2010 Sustainable Florida Best Practices Award from the Florida Collins Center for Public Policy; the 2011 Chairman's Award from the Southeastern Electric Exchange; the 2012 York Award from the Florida Water Environment Association for Reuse Customer of the Year; and a national award from the WateReuse Association as Water Reuse Customer of the Year in 2012.</p>
      </section>

      <h3>Renewable Energy: Perdido Landfill Gas-to-Energy</h3>
      <section>
        <p>Methane gas seeping from municipal landfills is one of the most significant forms of greenhouse gas &mdash; 21 times more potent than carbon dioxide. But when that gas is captured, it becomes a valuable form of renewable energy.</p>
        <p>Gulf Power partnered with Escambia County to produce our first renewable energy project, the Perdido Landfill Gas-to-Energy facility. The facility started commercial operation in 2010, producing renewable energy and reducing harmful landfill methane gas emissions while providing revenue for Escambia County.</p>
        <p>Escambia County has a collection system in place and pipes the gas to the facility, where it is processed for use by the specially designed Caterpillar 1,600-kilowatt landfill gas generators. Water separated from the landfill gas will be re-used by the landfill for its leachate system.</p>
        <p>The facility has a capacity to produce 3,200 kilowatts of electricity&mdash;enough to power more than 900 homes. In two years, this facility has produced more than 50 million kilowatt-hours of renewable energy.</p>
      </section>

      <h3>Renewable Energy: Wind and Solar</h3>
      <section>
        <p>Gulf Power will soon become the leading purchaser of wind generation among Florida utilities and the first of its kind in the state. The new project will be called Kingfisher Wind and will be located in Piedmont, OK, where conditions are favorable for wind energy.</p>
        <p>The Kingfisher Wind project is expected to begin commercial operation by the end of the year. A total of 89 of the project's wind turbines will supply 178 megawatts to Gulf Power, which is enough energy to power approximately 50,700 homes per year.</p>
        <p>Additionally, Gulf Power announced in January that the utility is partnering with the U.S. Navy and U.S. Air Force to build solar energy farms at three different facilities across Northwest Florida. The solar energy farms have already been approved by the FPSC and will be constructed at Eglin Air Force Base in Fort Walton Beach (30 megawatts), Holley Field in Navarre (40 megawatts) and Saufley Field in Pensacola (50 megawatts) and are expected to be in service by December 2016.</p>
      </section>

      <h3>Renewable Energy: Geothermal Heating and Cooling</h3>
      <section>
        <p>The ground remains at a relatively constant temperature throughout the year, providing a warm heat source in the winter and a cool heat sink in summer. Geothermal heating, ventilation and air conditioning systems provide a mechanism to transfer heat to or from the ground and can save customers up to 40 percent on their heating and cooling costs.</p>
        <p>Gulf Power has promoted geothermal HVAC since the mid-1990s. Today, there are almost 3,000 residential installations and more than 8,500 tons of capacity installed in commercial buildings for a total of 17,000 tons of geothermal HVAC systems in our service area &mdash; resulting in almost nine megawatts of peak demand reduction, which is enough power to serve about 2,600 homes.</p>
      </section>
    </div>
  </section>
</div>

<div class="content-section basic-content-layout-1">
  <div>
    <section class="text-section">
      <p>Visit our <a href="http://www.gulfpowernews.com/" target="_blank">NewsCenter</a> for the latest articles and updates on Gulf Power&apos;s environmental stewardship efforts.</p>
    </section>
  </div>
</div>
