<div class="content-section basic-content-layout-2 page-promotional-introduction-disabled">
  <h2>Cleaner Air, Cleaner Water</h2>
  <div>
    <section class="text-section">
      <p>In 2009 Gulf Power's most significant environmental project, its new "scrubber" system at Plant Crist near Pensacola, began operation. The scrubber&apos;s state of the art Flue Gas Desulfurization system is designed to reduce regulated emissions from the coal-fired power plant by up to 95 percent.</p>
    </section>

    <section class="image-section">
      <iframe class="youtube-vid" width="560" height="315" src="https://www.youtube.com/embed/EGNa5pioGUg" frameborder="0" allowfullscreen></iframe>
    </section>
  </div>
</div>

<div class="content-section basic-content-layout-2">
  <h2>Scrubber 101</h2>
  <div>
    <section class="text-section">
      <h3>Why Build a Scrubber</h3>
      <p>Burning coal to produce electricity produces various emissions components. Gulf Power is committed to providing reliable electricity that is environmentally responsible. Thus, Gulf Power meets or surpasses federal and state standards and regulations on emissions from our generating facilities.</p>
      <p>Gulf Power uses low-sulfur coals and has installed environmental controls and other processes reducing total emissions more than 70 percent since 1992. But further reductions of sulfur dioxide emissions are needed to meet strict federal and state regulations.</p>
      <p>In this wet scrubber system, a simple chemical reaction removes sulfur dioxide (SO2) from emissions, and other emissions are captured in the process.</p>
      <p>The scrubber is designed to remove:</p>
      <ul>
        <li>95% sulfur dioxide emissions</li>
        <li>70% particulate emissions</li>
        <li>80% oxidized mercury</li>
        <li>95% chlorides</li>
      </ul>
      <p>Engineers designed and built the scrubber on a massive scale to encompass all of Plant Crist's generators, which produce enough electricity to serve more than 275,000 residential customers.</p>
    </section>

    <section class="text-section">
      <h3>How It Works</h3>
      <p>Reclaimed water from Emerald Coast Utilities Authority, a nearby water treatment company, cools the emissions &mdash; which are called flue gas &mdash; from the four generating units. The flue gas is then bubbled through a swirling bath of crushed limestone.</p>
      <p>The sulfur dioxide reacts with the limestone and is neutralized, forming gypsum, a calcium sulfate compound. Scrubbed emissions are released through the stack, with steam evaporated during cooling.</p>
      <p>The gypsum is then piped to a de-watering facility, where it is processed into market-quality gypsum. Covered barges transport the market-quality gypsum for commercial use in cement production, agricultural applications and other manufacturing processes.</p>

      <img src="/images/plant-crist-scrubber/PlantCristScrubberInfographic.jpg" alt="">
    </section>
  </div>
</div>

<div class="content-section faq">
  <section class="text-section faq-section">
    <h2>Frequently Asked Questions</h2>

    <div class="faqs">
      <h3>Why can I see a water vapor plume from the stack?</h3>
      <section>
        <p>Water is injected into the scrubber process, causing steam to be released through the stack. The steam dissipates shortly after leaving the stack. When you see the steam, the scrubber is scrubbing.</p>
      </section>

      <h3>How much does the scrubber system cost?</h3>
      <section>
        <p>The total cost of the scrubber project was more than $600 million. Because federal regulations required environmental controls, the cost can be recovered through a filing with the Florida Public Service Commission.</p>
      </section>

      <h3>Why is Gulf Power using ECUA reclaimed water?</h3>
      <section>
        <p>The scrubber system needs a consistent high-quality water supply which led to a partnership between Gulf Power and ECUA to use reclaimed water from ECUA's new wastewater treatment plant.</p>
        <p>Plant Crist will receive 17 to 20 million gallons per day of treated wastewater which will be used as process water for the scrubber. Almost 15 million gallons a day of that water will be evaporated through the associated processes.</p>
        <p>Then about 2.5 million gallons a day returns to ECUA to be dispersed over spray fields or heads to the new plant for re-treatment.</p>
        <p>Reclaimed benefits:</p>
        <ul>
          <li>Consistent water quality for the scrubber vessel and the cooling towers.</li>
          <li>Potential for less chemical use.</li>
          <li>Reclaimed water available for other plant uses.</li>
          <li>Establishes the ECUA plant as a zero-discharge facility and by enabling the ECUA plant relocation, removes millions of gallons a day of effluent discharged into Pensacola Bay from the Main Street facility.</li>
        </ul>
      </section>

      <h3>What is gypsum?</h3>
      <section>
        <p>Gypsum, or calcium sulfate, is a naturally occurring chalky compound that is commonly used in making wallboard. It can also be used in making cement or in agriculture. Gypsum is extracted from mines from areas such as Nevada and Canada. It also is formed from the chemical reaction in the scrubber system, in which sulfur dioxide reacts with limestone.</p>
      </section>

      <h3>What federal and state requirements apply to the plant?</h3>
      <section>
        <p>On April 17, 2015, the U.S. Environmental Protection Agency released the final rule &mdash; Hazardous and Solid Waste Management System; Disposal of Coal Combustion Residuals (CCRs) from Electric Utilities &mdash; for the management and disposal of CCRs.</p>
        <a href="/about-us/in-the-community/plant-crist-scrubber/coal-ash-rule" class="detour-link">Learn more about Gulf Power plants and CCR rule compliance.</a>
      </section>
    </div>
  </section>
</div>
