<div class="content-section basic-content-layout-1">
  <div>
    <section class="text-section">
      <h2>Help On Outage Alerts</h2>
      <h3>You can text the following to MYGULF (694-853):</h3>
      <p><strong>REG</strong> — To sign up to receive Outage Alerts.</p>

      <p><strong>OUT</strong> — To report an outage using your smartphone.</p>

      <p><strong>STAT</strong> — To check if there is a reported outage for a particular account. You can do this instead of waiting for an outage notification.</p>

      <p><strong>PAUSE</strong> — To stop receiving outage notifications temporarily.</p>

      <p><strong>RESUME</strong> — To re-start messaging for an account.</p>

      <p><strong>STOP</strong> — To terminate text communications from Gulf Power. This is a permanent stop (unlike PAUSE, which is a temporary stop). Once this is done, you will need to re-register to start the communications again.</p>

      <p><strong>STOP ALL</strong> — To unsubscribe and stop receiving text messages from all accounts.</p>

      <p><strong>HELP</strong> — To obtain a list of text messaging keywords and the phone number to speak with a Customer Service Representative if you need assistance.</p>

      <p><strong>NICK</strong> — To apply a nickname to a particular account. You may assign a nickname such as: MOM, Lake, Home, Work.</p>
    </section>
  </div>
</div>
