<div class="content-section basic-content-layout-1">
  <div>
    <section class="text-section">
      <h2>SMS Terms of Use</h2>
      <p>Your access to, and use of, the mobile communication tools and text messaging services (collectively, "SMS Texting ") is subject to the following Terms of Use and all applicable laws and regulations. By clicking "I Agree" or otherwise accessing and using SMS Texting , you accept, without limitation or qualification, the Terms of Use.</p>
      <p>SMS Texting provides on-the-go access to important information and services related customer outage restoration information (e.g. weather outages, etc.). While there is no direct cost to the public imposed by Gulf Power Company (referred to as "Gulf Power" or "we") to utilize any of the SMS Texting (including text notification deliveries), standard data fees and text messaging rates may apply based on your plan with your mobile phone carrier. As mobile access and text message delivery is subject to your mobile carrier network availability, such access and delivery is not guaranteed. You may opt out of text delivery at any time by texting STOP to MyGulf (694853). You also have the ability to temporarily discontinue your participation in the text program by texting PAUSE to MyGulf (694853).</p>
      <p>The SMS Texting are provided "as is." To the fullest extent permissible pursuant to applicable law, Gulf Power hereby disclaims all warranties, express or implied, including, but not limited to, implied warranties of merchantability and fitness for a particular purpose and non-infringement.</p>

      <h3>SMS Texting Terms of Use</h3>
      <p>Customers may text a keyword (REG, STOP, OUT, STAT, NICK, PAUSE, RESUME) to MyGulf (694853) to receive information about your account, subject to the following Terms of Use.</p>

      <h4>Terms and Conditions</h4>
      <p>Your use of SMS Texting is pursuant to a limited, non-exclusive, revocable license and is subject to Gulf Power's privacy policy and Terms and Conditions at <a href="http://www.southerncompany.com/legal/" target="_blank">www.southerncompany.com/legal/</a>, which may be amended periodically by Gulf Power. You agree that you have read and will comply with Gulf Power's Terms and Conditions. If you do not agree, you may not set up or use SMS Texting.</p>

      <h4>Agreement; Effect of Activation</h4>
      <p>By using SMS Texting on your device or other account, you acknowledge that you have read and understand these Terms of Use and Gulf Power's Terms and Conditions, and that you accept and agree to be bound by both. You also acknowledge and agree that you are 18 years of age or older.</p>

      <h4>Cost of Participation</h4>
      <p>While SMS Texting is complimentary and requires no purchase or fee for participation, message and data rates may apply, and may be billed on your wireless phone bill or other internet or data provider bill. Check with your carrier and/or data provider for details.</p>

      <h4>Device Compatibility and Eligibility</h4>
      <p>SMS Texting only functions on certain devices and operating systems. You acknowledge that future operating system upgrades to your device may or may not be compatible with SMS Texting.</p>

      <h4>No Warranties</h4>
      <p>WE DO NOT GUARANTEE THAT THE USE OF SMS TEXTING WILL MEET YOUR PERFORMANCE REQUIREMENTS OR BE UNINTERRUPTED OR ERROR-FREE. WE MAKE NO WARRANTIES OR REPRESENTATIONS AS TO THE USE OR RESULTS OF USE IN TERMS OF SECURITY, DATA PRIVACY, DATA LOSS, CORRECTNESS, ACCURACY, RELIABILITY, OR OTHERWISE. WE WILL NOT CORRECT ANY ERRORS RELATED TO YOUR USE OF SMS TEXTING. YOU ASSUME ALL RISKS AS TO THE QUALITY AND PERFORMANCE OF SMS TEXTING, INCLUDING BUT NOT LIMITED TO HEALTH RISKS. YOU ACKNOWLEDGE AND AGREE THAT YOU ARE SOLELY RESPONSIBLE FOR ANY DEATH, PERSONAL INJURY, OR ENVIRONMENTAL DAMAGE YOU CAUSE TO YOURSELF, OR OTHERS, BY YOUR USE OF SMS TEXTING.</p>

      <p>SMS TEXTING IS PROVIDED TO YOU "AS-IS," AND TO THE EXTENT PERMITTED BY LAW, WE DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY, AND FITNESS FOR A PARTICULAR PURPOSE. NO STATEMENTS FROM GULF POWER OR ITS EMPLOYEES, DEALERS OR AGENTS MAY INCREASE THE SCOPE OF THE ABOVE WARRANTIES OR CREATE ANY NEW WARRANTIES. IF THIS DISCLAIMER IS INVALID UNDER APPLICABLE LAW, ANY IMPLIED WARRANTIES ARE LIMITED IN DURATION TO THIRTY (30) DAYS FROM THE DATE THAT YOU FIRST INSTALL OR USE SMS TEXTING.</p>

      <h4>LIMITATION ON LIABILITY</h4>
      <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT GULF POWER AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, AGENTS, EMPLOYEES, PARTNERS, CONTRACTORS, CONSULTANTS, LICENSORS, AND SUPPLIERS SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES, EVEN IF GULF POWER HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, RESULTING FROM THE USE OR THE INABILITY TO USE SMS TEXTING , UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA, STATEMENTS OR CONDUCT OF ANY THIRD PARTY REGARDING SMS TEXTING, OR ANY OTHER MATTER RELATING TO SMS TEXTING.</p>

      <h4>Termination</h4>
      <p>Gulf Power reserves the right, in its sole discretion, to cancel or suspend any or all of SMS Texting, in whole or in part, for any reason, with or without notice to you.</p>

      <h4>Applicable Law and Disputes</h4>
      <p>These Terms and Conditions and our relationship with you regarding the SMS Texting are governed by the laws of the State of Florida, without regard to its conflict of laws principles. You and we agree to submit to the exclusive jurisdiction of any State or Federal court located in Escambia County, Florida, and you and we hereby waive any jurisdictional, venue or inconvenient forum objections to such courts.</p>

      <h4>Other</h4>
      <p>These Terms and Conditions contain the entire agreement between you and Gulf Power regarding the use of SMS Texting , and supersede all prior understandings related to use of SMS Texting. If any part of these Terms and Conditions is held invalid or unenforceable, that portion shall be construed in a manner consistent with applicable law to reflect, as nearly as possible, the original intentions of these Terms and Conditions, and the remaining portions shall remain in full force and effect.</p>
    </section>
  </div>
</div>
