<div class="content-section basic-content-layout-1">
  <div>
    <section class="text-section">
      <h2>Outage Alerts</h2>
      <h3>You have successfully unsubscribed from all Outage Notifications.</h3>
      <p>You can always easily re-subscribe at any time.</p>
      <a href="https://customerservice.southerncompany.com/NonSecure/LoginFrames.aspx?ReturnUrl=%2fOutage%2fOutageAlertList.aspx%3fmnuOpco%3dgpc%26mnuType%3dres&mnuOpco=gulf&mnuType=res" class="button">Set Outage Alerts</a>
    </section>
  </div>
</div>
