<div class="content-section basic-content-layout-2 page-promotional-introduction-disabled">
  <h2>Your Career in Energy</h2>
  <div>
    <section class="text-section">
      <p>Jobs in the energy industry involve a diverse set of skills, knowledge and experience, and provide a well-paying and rewarding career. Read on to find information and resources to help you start on your new career path.</p>
    </section>

    <section class="image-section">
      <p class="production-notes">image</p>
    </section>
  </div>
</div>

<div class="content-section story-tiles layout-1">
  <div>
    <h2>Energy Industry Workforce Development Resources</h2>
    <div class="tiles">
      <div class="story-tile">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Get Into Energy</h3>
          <p>Offers advice, resources and support for anyone interested in a career in energy, from students to military to transitioning workers.</p>
          <a href="http://getintoenergy.com/" target="_blank" title="External Link &mdash; Opens in a new tab">Learn More</a>
        </div>
      </div>

      <div class="story-tile">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Florida Energy Workforce Consortium</h3>
          <p>Developing solutions to meet the current and future workforce needs of the state&apos;s energy industry.</p>
          <a href="http://fewc.org/" target="_blank" title="External Link &mdash; Opens in a new tab">Learn More</a>
        </div>
      </div>

      <div class="story-tile">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Center for Energy Workforce Development</h3>
          <p>Building the alliances, processes, and tools to develop tomorrow's energy workforce.</p>
          <a href="http://cewd.org/" target="_blank" title="External Link &mdash; Opens in a new tab">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-section basic-content-layout-2">
  <h2>Find a Career Development Program</h2>
  <div>
    <p>There are numerous secondary education programs in Northwest Florida that prepare students for a career in the electric utility industry.</p>
    <section class="text-section">
      <h3>High Schools</h3>
      <ul>
        <li><a href="http://wfhs-ecsd-fl.schoolloop.com/gulf_power" target="_blank" title="External Link &mdash; Opens in a new tab">Gulf Power Academy</a> at West Florida High School</li>
        <li>Blountstown High School</li>
        <li>Holmes County High School</li>
        <li>Liberty High School</li>
        <li>Milton High School</li>
        <li>Navarre High School</li>
        <li>Pine Forest High School</li>
        <li>Ponce de Leon High School</li>
        <li>Sneads High School</li>
      </ul>
    </section>

    <section class="text-section">
      <h3>Technical Centers</h3>
      <ul>
        <li><a href="http://wcd.walton.k12.fl.us/" target="_blank" title="External Link &mdash; Opens in a new tab">Emerald Coast Technical College</a></li>
        <li><a href="http://washingtonholmestechcenter.schoolinsites.com/?PN=Contact" target="_blank" title="External Link &mdash; Opens in a new tab">Florida Panhandle Technical College</a></li>
        <li><a href="http://www.bayschools.com/htc/AboutHaney.aspx" target="_blank" title="External Link &mdash; Opens in a new tab">Haney Technical </a></li>
        <li><a href="http://www.locklintech.com/" target="_blank" title="External Link &mdash; Opens in a new tab">Locklin Tech</a></li>
        <li><a href="http://www.otcollege.net" target="_blank" title="External Link &mdash; Opens in a new tab">Okaloosa Technical College</a></li>
      </ul>

      <h3>State Colleges</h3>
      <ul>
        <li><a href="http://www.chipola.edu/" target="_blank" title="External Link &mdash; Opens in a new tab">Chipola College</a></li>
        <li><a href="http://www.nwfsc.edu/" target="_blank" title="External Link &mdash; Opens in a new tab">Northwest Florida State College</a></li>
        <li><a href="http://www.pensacolastate.edu/" target="_blank" title="External Link &mdash; Opens in a new tab">Pensacola State College</a></li>
      </ul>
    </section>
  </div>
</div>
