<div class="content-section basic-content-layout-2 page-promotional-introduction-disabled">
  <h2>A New Generation of Bright Sparks</h2>
  <div>
    <section class="text-section">
      <p>Our future is in the hands of the next generation. We believe in empowering young people to make smart, informed decisions about energy use. And we want to take every step to ensure children are fully educated about the dangers, and the possibilities, of energy production.</p>
      <p>At Gulf Power, we believe today's students are tomorrow's business leaders and workforce. In Florida we support efforts throughout the region to train and inspire our future.</p>
    </section>

    <section class="image-section">
      <img src="/images/about-us/Image_About_Us_Education_1.png" alt="Illustration of people with ideas">
    </section>
  </div>
</div>

<div class="content-section story-tiles layout-1">
  <div>
    <div class="tiles">
      <div class="story-tile">
        <img src="/images/about-us/education-and-workforce-development/ProgramTile_AboutUs_STEMEducationResources.jpg" alt="story-tile-fpo" width="572" height="205">
        <div class="story-tile-content">
          <h3 class="story-tile-title">STEM Education Resources</h3>
          <p>We are proud to partner with regional programs that offer students an opportunity to engage in hands-on STEM education.</p>
        <a href="/about-us/education-and-workforce-development/stem-education-resources" class="detour-link">Learn More</a>
        </div>
      </div>

      <div class="story-tile">
        <img src="/images/about-us/education-and-workforce-development/ProgramTile_AboutUs_CareerDevelopment.jpg" alt="story-tile-fpo" width="572" height="205">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Career Development</h3>
          <p>Professional development information and resources for anyone interested in energy careers.</p>
          <a href="/about-us/education-and-workforce-development/find-career-development-programs" class="detour-link">Learn More</a>
        </div>
      </div>

      <div class="story-tile">
        <img src="/images/about-us/education-and-workforce-development/ProgramTile_AboutUs_SolarForSchools.jpg" alt="story-tile-fpo" width="572" height="205">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Solar for Schools</h3>
          <p>Our program installs photovoltaics at schools for use as an educational tool and to provide energy benefits.</p>
          <a href="/about-us/education-and-workforce-development/solar-for-schools" class="detour-link">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="foundations-and-educational-grants" class="text-section cta-section">
  <div>
    <h2>Foundations and Educational Grants</h2>
    <div>
      <p>To further deserving causes in education, Gulf Power Foundation offers educational grants to Educational Foundations in each county. The grants offers a number of benefits aimed at building knowledge and enhancing the quality of life and the economic well-being of our local communities. The Foundation also donates scholarships to junior colleges and universities in Gulf Power&apos;s service territory. Financial aid officers at the schools select deserving northwest Florida students to receive the scholarships.</p>
      <p>In 2015, the Foundation awarded more than $318,000 to Northwest Florida organizations. Another $13,000 in matching funds went to 15 colleges and universities across the nation, matching contributions made by Gulf Power employees.</p>
    </div>

    <div>
      <h3>Foundation Grant Application</h3>
      <p>Complete and submit your application per the instructions in the document. Please include or link to the required documents (in addition to the application form) when you submit.</p>
      <p><a href="/pdfs/education-and-workforce-development/GulfPowerFoundation-GrantApplication.pdf" target="_blank" role="button">Download Application</a></p>
    </div>
  </div>
</section>

<div class="content-section faq">
  <section class="text-section faq-section">
    <h2>Workforce Development</h2>
    <p>We believe in building our workforce from the communities we serve. That's why we've partnered with several education and workforce development programs across Northern Florida to educate and grow the workforce of the future.</p>

    <div class="faqs">
      <h3>Achieve Escambia</h3>
      <section>
        <p>Achieve Escambia is a collective effort between Gulf Power leadership and other local business partners to improve educational and workforce outcomes in Escambia County, FL &mdash; from cradle to career. The mission of Achieve Escambia is to align community resources so everyone is empowered to achieve success.</p>
        <a href="http://www.unitedwayescambia.org/achieve-escambia" target="_blank" class="detour-link" title="External Link &mdash; Opens in a new tab">Learn more</a>
      </section>

      <h3>Alignment Bay County</h3>
      <section>
        <p>Alignment Bay County&apos;s mission is to align community organizations and resources so that their coordinated support of Bay County&apos;s youth has a positive impact on public school success, children&apos;s health and the success of the community as a whole. Gulf Power is engaged with Alignment Bay County in support of this long-term community effort.</p>
        <a href="http://portal.alignmentbaycounty.org/" target="_blank" title="External Link &mdash; Opens in a new tab">Learn more</a>
      </section>

      <h3>Gulf Power Academy</h3>
      <section>
        <p>Started in 2001 as a partnership with West Florida High School in Pensacola, Gulf Power Academy is a four-year curriculum, including traditional high school academic courses, which prepares students for a career in the electric utility industry. Students who graduate from the Academy may choose either immediate employment with the company (if they qualify) or post-secondary education in industrial electricity.</p>
        <p>The Gulf Power Academy has been named the nation's "premier model" for Small Learning Communities, and has achieved a "Distinguished" rating from a national evaluation. Being named a premier model means that Gulf Power Academy will act as the template for others as similar programs are developed throughout the nation.</p>
        <a href="http://www.wfhs.net/" target="_blank" title="External Link &mdash; Opens in a new tab">West Florida High School of Advanced Technology</a>
      </section>

      <h3>Gulf Power Institute</h3>
      <section>
        <h3>Laurel Hill School - Laurel Hill</h3>
        <p>The Gulf Power Institute opened in 2005 at the Laurel Hill School, a kindergarten through 12th grade school in Okaloosa County. The program is based on the Industrial Electricity and Applied Welding curriculum from the <a href="http://www.nccer.org/" target="_blank">National Center for Construction and Education Research</a>.</p>
        <p>The Institute is part of Okaloosa County&apos;s Community High Okaloosa Institute for Career Education (CHOICE), a program for student vocational training within Okaloosa Schools.</p>
        <p>CHOICE is open to Okaloosa high school students, as well as students that are home schooled or from other counties. A student must have a 2.5 grade point average or be especially recommended by his or her principal. CHOICE Institutes are also located at Crestview High School, Choctawatchee High School, Niceville High School, the Common Campus of the University of West Florida and Okaloosa Schools near Fort Walton Beach.</p>
        <p>The Laurel Hill Institute&apos;s features include:</p>
        <ul>
          <li>Curriculum guidance and resource acquisition support from Gulf Power Company.</li>
          <li>Career Nights for students to learn to prepare for careers in electric utility.</li>
          <li>Guest speakers from Gulf Power in the classroom; field trips to Gulf Power facilities.</li>
          <li>A mentor program that match interested students with Gulf Power employees.</li>
          <li>Career and on-the-job training opportunities for graduates.</li>
        </ul>
      </section>
    </div>
  </section>
</div>

<div class="content-section faq">
  <section class="text-section faq-section">
    <h2>Forming a Workforce Development Partnership</h2>
    <div class="faqs">
      <h3>Is your company interested in getting more involved with building the workforce of the future? Learn how to form a community partnership.</h3>
      <section>
        <p>1. Analyze your need.</p>
        <p>Do you need great enough workforce numbers to warrant your own program? If not, what are the similar businesses you could partner with to develop a program? Utilize workforce planning data to assist in this analysis.</p>

        <p>2. Identify the foundational knowledge and skills.</p>
        <p>What do you need the program to teach? Across the variety of jobs you want to prepare students for, what are the common baseline knowledge and skills? What educational attainment is required to move into these jobs? Are you looking at a secondary or post-secondary program or both? Utilize your technical training staff in this analysis.</p>

        <p>3. Determine if a program already exists.</p>
        <p>Does your local secondary school system or post-secondary educational institutions offer a curriculum that includes much of what you've identified as foundational knowledge or skills? Are there already approved curriculum for what you need taught? Conduct internet searches and make some calls!</p>

        <p>4. Identify stakeholders.</p>
        <p>Who from inside your company must be involved in order for any type of partnership to be a success? Who from outside your company should be involved? Do all stakeholders agree with your assessment of your need, foundational knowledge &amp; skills &amp; identification (or lack) of an existing program that could meet your needs?</p>

        <p>5. Make the connection.</p>
        <p>Can you clearly articulate your workforce needs to the school system or school with which you'd like to partner? If you've determined you'll need a consortium of local businesses to participate, can you articulate the group needs? Set up meetings with the appropriate school system entities to discuss the partnership and what you can bring to the table.</p>

        <p>6. Determine scope of partnership.</p>
        <p>Jointly determine what type of program is feasible. Partnerships can range from a business providing periodic guest speakers in the classroom all the way to hosting students during school hours for OJT. Jointly determine if one of the curriculum already taught meets your needs, if tweaking will need to take place, or if a new curriculum will have to be identified and approved for delivery.</p>

        <p>7. Determine how to make the program "your own."</p>
        <p>Identify opportunities to supplement or replace required components of the curriculum with those that are more specific to your company - example: blueprint reading. Teach your own way of documentation. Also look for opportunities to plug in your employees as guest instructors on various topics. Look for opportunities to get your instructor to your worksites for application training that he can pass on to the students.</p>

        <p>8. Develop project plan.</p>
        <p>Determine at the outset what success would look like for you and all stakeholders. Determine also the structure - is there a program advisory council, a monthly meeting with the instructor, meetings with the administration? Make sure to include periodic reviews with school administration to ensure the program continues to meet your needs. Internal to your company, develop a project plan that includes employee resource commitments, action plans &amp; a budget.</p>

        <p>9. Develop your marketing strategy.</p>
        <p>Make sure you, the school, and any additional partners document a communication and marketing strategy. This is critical at the outset to fill the pipeline of students. In the future, the graduates of the program will be your greatest marketer, but at the outset you have to sell it to the students and their parents.</p>

        <p>10. Maximize the economic and community development impact.</p>
        <p>Utilize your local Chamber of Commerce or Economic Development Agency to promote this program, opportunities for partnership, and the use of the school system as a workforce development tool. Consider the use of faith-based organizations and community organizations to raise awareness of your program and build support for your school. Consider requiring community service hours in your program to help build your company's core values early in the minds of your future workforce.</p>
      </section>
    </div>
  </section>
</div>
<ng-include src="'templates/shared/banner.html'" ng-init="bannerDataID = 9"></ng-include>
