<div class="content-section basic-content-layout-2 page-promotional-introduction-disabled">
  <h2>Power to Make Students Brighter</h2>
  <div>
    <section class="text-section">
      <p>Gulf Power is pleased to provide schools in our service area solar energy resources as well as professional development and materials to enhance the classroom experience and teach students about solar power and energy resources.</p>
    </section>

    <section class="image-section">
      <p class="production-notes">image</p>
    </section>
  </div>
</div>



<div class="content-section faq">
  <section class="text-section faq-section">
    <h2>Solar Curriculum Materials</h2>
    <p>Find solar curriculum materials you can use in your classroom, courtesy of the <a href="http://www.need.org/" target="_blank" title="External Link &mdash; Opens in a new tab">NEED Project</a>.</p>

    <h3>The NEED Curriculum Kit</h3>
    <div class="faqs">
      <h3>Energy From the Sun Teacher/Student Guide</h3>
      <section>
        <p>Intermediate students learn about solar energy through investigations that explore radiant energy transforming into thermal energy, kinetic energy, chemical energy, and electricity. The kit includes a Teacher Guide, a class set of Student Guides, and the materials necessary to conduct the activities.</p>
        <a href="http://issuu.com/theneedproject/docs/energyfromthesunteacherguide" target="_blank" title="External Link &mdash; Opens in a new tab">Energy From the Sun Teacher Guide / (e-publication)</a>
        <a href="http://issuu.com/theneedproject/docs/energyfromthesunstudentguide" target="_blank" title="External Link &mdash; Opens in a new tab">Energy From the Sun Student Guide / (e-publication)</a>
      </section>

      <h3>Exploring Photovoltaics Teacher/Student Guide</h3>
      <section>
        <p>Secondary students learn how solar energy is used to generate electricity. Students are introduced to photovoltaic systems, concentrated solar power, and developing solar technologies. Activities explore how photovoltaic cells work and what variables affect their electrical output.</p>
        <a href="http://need.membershipsoftware.org/files/curriculum/guides/Photovoltaics%20Teacher%20Guide.pdf" target="_blank">Exploring Photovoltaics Teacher Guide / (e-publication)</a>
        <a href="http://need.membershipsoftware.org/files/curriculum/guides/Photovoltaics%20Student%20Guide.pdf" target="_blank">Exploring Photovoltaics Student Guide / (e-publication)</a>
      </section>

      <h3>The Sun and Its Energy</h3>
      <section>
        <p>Primary students are introduced to solar energy with a read-aloud book and classroom-based activities. Students will learn that the sun&apos;s energy produces light, transforms to heat, powers the water cycle, produces wind, and that solar cells convert radiant energy into electricity. The kit includes a Teacher Guide and the materials necessary to conduct the activities.</p>
        <a href="http://need.membershipsoftware.org/files/curriculum/guides/The%20Sun%20and%20its%20Energy.pdf" target="_blank">The Sun and Its Energy / (e-publication)</a>
      </section>

      <h3>Wonders of the Sun Teacher/Student Guide</h3>
      <section>
        <p>Elementary students develop a basic understanding of solar energy through background reading and classroom activities. Hands-on activities demonstrate solar energy transformations into kinetic energy, thermal energy, chemical energy, and electricity. The kit includes a Teacher Guide, a class set of Student Guides, and the materials necessary to conduct the activities.</p>
        <a href="http://need.membershipsoftware.org/files/curriculum/guides/WondersoftheSunTeacher.pdf" target="_blank">Wonders of the Sun Teacher Guide / (e-publication)</a>
        <a href="http://need.membershipsoftware.org/files/curriculum/guides/WondersoftheSunStudent.pdf" target="_blank">Wonders of the Sun Student Guide / (e-publication)</a>
      </section>
    </div>

    <h3>Solar Summary Materials by Grade Level</h3>
    <div class="faqs">
      <h3>Primary</h3>
      <section>
        <a href="http://issuu.com/theneedproject/docs/primaryenergyinfobook" target="_blank">Primary Energy Infobook / (e-publication)</a>
        <a href="http://www.need.org/files/curriculum/infobook/SolarP.pdf" target="_blank">Primary Solar Factsheet</a>
      </section>

      <h3>Elementary</h3>
      <section>
        <a href="http://need.membershipsoftware.org/files/curriculum/guides/Elementary%20Energy%20Infobook.pdf" target="_blank">Elementary Energy Infobook / (e-publication)</a>
        <a href="http://need.membershipsoftware.org/files/curriculum/infobook/SolarE.pdf" target="_blank">Elementary Solar Factsheet</a>
      </section>

      <h3>Intermediate</h3>
      <section>
        <a href="http://need.membershipsoftware.org/files/curriculum/guides/Intermediate%20Energy%20Infobook.pdf" target="_blank">Intermediate Energy Infobook / (e-publication)</a>
        <a href="http://need.membershipsoftware.org/files/curriculum/infobook/SolarI.pdf" target="_blank">Intermediate Solar Factsheet</a>
      </section>

      <h3>Secondary</h3>
      <section>
        <a href="http://need.membershipsoftware.org/files/curriculum/guides/Secondary%20Energy%20Infobook.pdf" target="_blank">Secondary Energy Infobook / (e-publication)</a>
        <a href="http://need.membershipsoftware.org/files/curriculum/infobook/SolarS.pdf" target="_blank">Secondary Solar Factsheet</a>
      </section>
    </div>

    <h3><a href="http://need.membershipsoftware.org/files/curriculum/guides/SchoolsGoingSolar.pdf" target="_blank">Comprehensive Schools Going Solar Guide</a></h3>
    <p>Provides lessons and activities to support and incorporate installed photovoltaic systems into the classroom learning environment.</p>
  </section>
</div>

<div class="content-section story-tiles layout-2">
  <div>
    <h2>Solar Installations at Local Schools</h2>
    <p>Gulf Power has participated in two initiatives to bring photovoltaics closer to the classroom by providing funding and project development support in the installation of several photovoltaics systems at local schools.</p>
    <div class="tiles">
      <div class="story-tile">
        <div class="story-tile-content">
          <h3 class="story-tile-title">SunSmart E-Shelter Schools</h3>
          <p>One program, led by the <a href="http://www.fsec.ucf.edu/en/education/sunsmart/" target="_blank" title="External Link &mdash; Opens in a new tab">Florida Solar Energy Center (FSEC)</a>, was designed to promote solar across the state and collect valuable solar data, as well as provide backup power in times of emergency. Schools with these grid-tied battery backup systems were classified as SunSmart E-Shelter Schools. Gulf Power provided resource support for 9 of these schools in the Gulf Power service area.</p>
          <a href="http://www.energywhiz.com/map.php?utility=Gulf%20Power" target="_blank" title="External Link &mdash; Opens in a new tab">View data collection from these sites</a>
        </div>
      </div>

      <div class="story-tile">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Solar for Schools</h3>
          <p>Additionally, Gulf Power has also developed its own program, &ldquo;Solar for Schools,&rdquo; which has successfully installed photovoltaics on 6 more schools. These photovoltaic systems are used primarily as an educational tool, but do provide some energy benefit as they are also grid-tied. Each school&apos;s system is unique as each incorporates different installation or mounting methods!</p>
          <a href="http://gulfpower.solarlog-web.net/" target="_blank" title="External Link &mdash; Opens in a new tab">View system details and data for these sites</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-section faq">
  <section class="text-section faq-section">
    <h2>Solar FAQs</h2>
    <div class="faqs">
      <h3>What does the term photovoltaic mean?</h3>
      <section>
        <p>Photovoltaics (foh-toh-vohl-tey-iks)</p>
        <p>Each year thousands of local students are adding this term to their vocabulary and learning how the sun can make electricity by using the generation of a direct current (voltage) when electromagnetic radiation or sunlight falls on the boundary of two dissimilar substances (semiconductors) to create a charge that travels to a contact.</p>
      </section>
      <h3>So how much power does one typical solar panel create?</h3>
      <section>
        <p>A standard panel in today's market is around 250 Watts DC in optimum conditions and will produce about 1 kWh of electricity per day on average.</p>
      </section>
      <h3>But how does that apply to a student, and what does it mean to them?</h3>
      <section>
        <p>Students relate to values that they can hold in their hands or feel from their actions. Most students have direct involvement with a computer every day at school.</p>
        <p>A typical desktop computer or laptop during the school day consumes about 1kWh of electricity. Therefore, each solar panel installed on a school provides enough power for a computer in the classroom! Similarly, one panel can generate enough electricity to offset the power needed to run a gaming console throughout the whole day. Now that's a lot of game time!</p>
      </section>
      <h3>How is photovoltaics performing in these schools?</h3>
      <section>
        <p>This <a href="http://gulfpower.solarlog-web.net/dashboard?username=3833934&amp;password=0ca27841b75b79abd9d7b79d4847c9cc&amp;cid=7292&amp;tiles=Yield|true,Grafic|true,Env|true,Overview|true&amp;locale=en_us&amp;fullscreen=0" target="_blank">handy dashboard</a> lets you see the cumulative data totals for all 15 schools.</p>
      </section>
      <h3>Where Are the Schools with Solar?</h3>




        <div class="table-section-container">
          <section class="table-section">
            <table>
              <thead>
                <tr>
                  <th>School</th>
                  <th>County</th>
                  <th>Address</th>
                  <th>Kilowatts</th>
                  <th>Installation</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="https://gla-ecsd-fl.schoolloop.com/" target="_blank" title="External Link &mdash; Opens in a new tab">Global Learning Academy</a></td>
                  <td>Escambia</td>
                  <td>100 N P St, Pensacola, FL 32505</td>
                  <td>5.04 KW DC + 22.68 KW DC</td>
                  <td>Apr-2011</td>
                </tr>
                <tr>
                  <td><a href="http://www.bayhightornadoes.com/" target="_blank" title="External Link &mdash; Opens in a new tab">Bay High School</a></td>
                  <td>Bay</td>
                  <td>1200 Harrison Ave, Panama City, FL 32401</td>
                  <td>3.96 KW DC </td>
                  <td>Feb-2012 Remodel </td>
                </tr>
                <tr>
                  <td><a href="https://les-ecsd-fl.schoolloop.com/" target="_blank" title="External Link &mdash; Opens in a new tab">Longleaf Elementary</a></td>
                  <td>Escambia</td>
                  <td>2600 Longleaf Dr, Pensacola, FL 32526</td>
                  <td>10 KW DC Grid-Tied Battery Backup</td>
                  <td>Mar-2012</td>
                </tr>
                <tr>
                  <td><a href="http://rcles-ecsd-fl.schoolloop.com/" target="_blank" title="External Link &mdash; Opens in a new tab">R.C. Lipscomb Elementary</a></td>
                  <td>Escambia</td>
                  <td>10200 Ashton Brosnaham Dr, Pensacola, FL 32534</td>
                  <td>10 KW DC Grid-Tied Battery Backup</td>
                  <td>Mar-2012</td>
                </tr>
                <tr>
                  <td><a href="http://fhs.walton.k12.fl.us/" target="_blank" title="External Link &mdash; Opens in a new tab">Freeport High School</a></td>
                  <td>Walton</td>
                  <td>12615 U.S. 331 Bus, Freeport, FL 32439</td>
                  <td>10 KW DC Grid-Tied Battery Backup</td>
                  <td>Mar-2012</td>
                </tr>
                <tr>
                  <td><a href="http://www.bayschools.com/jms/" target="_blank" title="External Link &mdash; Opens in a new tab">Jinks Middle School</a></td>
                  <td>Bay</td>
                  <td>600 W 11th St, Panama City, FL 32401</td>
                  <td>10 KW DC Grid-Tied Battery Backup</td>
                  <td>Apr-2012</td>
                </tr>
                <tr>
                  <td><a href="http://www.bayschools.com/cges/" target="_blank" title="External Link &mdash; Opens in a new tab">Cedar Grove Elementary</a></td>
                  <td>Bay</td>
                  <td>2826 E. 15th Street, Panama City, FL 32401</td>
                  <td>10 KW DC Grid-Tied Battery Backup</td>
                  <td>Apr-2012</td>
                </tr>
                <tr>
                  <td><a href="http://meigsmiddleschool.com/" target="_blank" title="External Link &mdash; Opens in a new tab">Meigs Middle School</a></td>
                  <td>Okaloosa</td>
                  <td>150 Richbourg Ave, Shalimar, FL 32579</td>
                  <td>3.96 KW DC</td>
                  <td>May-2012 Remodel</td>
                </tr>
                <tr>
                  <td><a href="https://www.santarosa.k12.fl.us/ams/" target="_blank" title="External Link &mdash; Opens in a new tab">Avalon Middle School</a></td>
                  <td>Santa Rosa</td>
                  <td>5445 King Arthurs Way, Milton, FL 32583</td>
                  <td>10 KW DC Grid-Tied Battery Backup</td>
                  <td>Jun-2012</td>
                </tr>
                <tr>
                  <td><a href="http://brelementary.weebly.com/" target="_blank" title="External Link &mdash; Opens in a new tab">Bennett Russell Middle School</a></td>
                  <td>Santa Rosa</td>
                  <td>3740 Excalibur Way, Milton, FL 32583</td>
                  <td>10 KW DC Grid-Tied Battery Backup</td>
                  <td>Jun-2012</td>
                </tr>
                <tr>
                  <td><a href="http://washingtonholmestechcenter.schoolinsites.com/" target="_blank" title="External Link &mdash; Opens in a new tab">Florida Panhandle Technical College</a></td>
                  <td>Washington</td>
                  <td>757 Hoyt St, Chipley, FL 32428</td>
                  <td>10 KW DC </td>
                  <td>Jul-2012</td>
                </tr>
                <tr>
                  <td><a href="http://www.wfhs.net/" target="_blank" title="External Link &mdash; Opens in a new tab">West FL High School</a></td>
                  <td>Escambia</td>
                  <td>2400 Longleaf Dr, Pensacola, FL 32526</td>
                  <td>3.96 KW DC</td>
                  <td>Aug-2012 Remodel</td>
                </tr>
                <tr>
                  <td><a href="http://chs.wcsdschools.com/" target="_blank" title="External Link &mdash; Opens in a new tab">Chipley High School</a></td>
                  <td>Washington</td>
                  <td>1545 Brickyard Rd, Chipley, FL 32428</td>
                  <td>10 KW DC Grid-Tied Battery Backup</td>
                  <td>Oct-2012</td>
                </tr>
                <tr>
                  <td><a href="http://www.gulfcoast.edu/" target="_blank" title="External Link &mdash; Opens in a new tab">Gulf Coast State College</a></td>
                  <td>Bay</td>
                  <td>5230 US-98, Panama City, FL 32401</td>
                  <td>10 KW DC</td>
                  <td>Jan-2014</td>
                </tr>
                <tr>
                  <td><a href="http://baes-ecsd-fl.schoolloop.com/" target="_blank" title="External Link &mdash; Opens in a new tab">Blue Angels Elementary</a></td>
                  <td>Escambia</td>
                  <td>1551 Dog Track Rd, Pensacola, FL 32506</td>
                  <td>10.2 KW DC</td>
                  <td>Oct-2015</td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>







    </div>
  </section>
</div>


<div class="content-section faq">
<!--
  <section class="text-section faq-section">
    <h2>Where Are the Schools with Solar?</h2>
    <p>View the list of the 15 schools in our service area with photovoltaics.</p>

    <div class="faqs">
      <h3>View the list of the 15 schools in our service area with photovoltaics.</h3>
      <section>
      </section>
    </div>
  </section>
-->
</div>

<!--
<div class="content-section basic-content-layout-1">
  <div>
    <section class="text-section">
      <h2>How Are We Doing?</h2>
    </section>
  </div>
</div>
-->

<div class="content-section basic-content-layout-2">
  <h2>Links of Interest</h2>
  <div>
    <section class="text-section">
      <h3>General Information</h3>
      <ul>
        <li><a href="http://www.fsec.ucf.edu/" target="_blank" title="External Link &mdash; Opens in a new tab">Florida Solar Energy Center (FSEC)</a></li>
        <li><a href="http://www.eere.energy.gov/" target="_blank" title="External Link &mdash; Opens in a new tab">U.S. Department of Energy: Energy Efficiency and Renewable Energy</a></li>
        <li><a href="http://www.flaseia.org/" target="_blank" title="External Link &mdash; Opens in a new tab">Florida Solar Energy Industries Association</a></li>
      </ul>
    </section>

    <section class="text-section">
      <h3>Calculators</h3>
      <ul>
        <li><a href="http://pvwatts.nrel.gov/" target="_blank" title="External Link &mdash; Opens in a new tab">PV Watts</a> estimates the energy production and cost savings of grid-connected solar electricity systems.</li>
        <li><a href="http://maps.nrel.gov/imby/" target="_blank" title="External Link &mdash; Opens in a new tab">National Renewable Energy Laboratory IMBY</a> allows you to draw in your system on your actual property to estimate system size.</li>
        <li><a href="http://www.findsolar.com/" target="_blank" title="External Link &mdash; Opens in a new tab">Find Solar</a> provides a quick solar calculator to estimate PV system sizing requirements and payback periods.</li>
        <li><a href="http://www.fsec.ucf.edu/en/consumer/solar_hot_water/homes/calculator/" target="_blank" title="External Link &mdash; Opens in a new tab">FSEC Simplified Residential Solar Hot Water System Calculator</a> provides the energy, cost and environmental savings potential of residential solar hot water systems in Florida.</li>
      </ul>
    </section>
  </div>
</div>
