<div class="content-section basic-content-layout-perfect-world">
  <div>
    <section class="text-section">
			<h2><strong>Whoops!</strong> Looks like you made a wrong turn somewhere.</h2>
      <p>We'll help you get to the right place. Are you trying to <a href="https://customerservice2.southerncompany.com/Login?mnuOpco=gulf" class="regular-link">log in</a> or <a href="/outages">report an outage</a>? You may also want to try one of the links in the site navigation below—or just start back at the <a href="/">homepage</a>.</p>
			<p><strong>Still need help?</strong> <a href="https://customerservice2.southerncompany.com/CustService/ContactUs?mnuOpco=gulf" class="regular-link">Send us a note</a> and let us know what you were looking for.</p>
    </section>

    <section class="image-section">
      <img src="/images/404.png" alt="404" width="681" height="601" />
    </section>
  </div>
</div>
