<div class="content-section basic-content-layout-2">
  <h2>Work for a Power Leader</h2>
  <div>
    <section class="text-section">
      <p>Gulf Power is an energy provider that serves almost a half a million customers in eight counties throughout Northwest Florida. We are one of the top employers in this richly diverse and growing region. In addition to our corporate operations, we run two wholly-owned power generation plants and we have more than 9,400 miles of transmission and distribution lines.</p>
      <p>Check out the career options we have available now:</p>
      <a href="http://southerncompany.taleo.net/careersection/fpc/joblist.ftl?lang=en" class="button" target="_blank" title="External Link &mdash; Opens in a new tab">Jobs at Gulf Power</a>
      <a href="http://www.southerncompany.com/about-us/careers/home.cshtml" class="detour-link" target="_blank" title="External Link &mdash; Opens in a new tab">Find other jobs at Southern Company</a>
    </section>

    <section class="image-section">
      <p class="production-notes">image</p>
    </section>
  </div>
</div>
