<div class="content-section basic-content-layout-2 page-promotional-introduction-disabled">
  <h2>Get to Know Gulf Power</h2>
  <div>
    <section class="text-section">
      <p>We are an investor-owned electric utility headquartered in Pensacola, Florida. We serve almost half a million people across Northwest Florida, from the Alabama border, to the Apalachicola River, to the Gulf coast.</p>
      <p>The primary focus of our more than 1,300 employees is to serve our customers&apos; energy needs. We are ready to help homeowners and business become more efficient with their energy use, steward the responsible generation of energy and develop new energy sources, and give back to the community we also call home.</p>
    </section>

    <section class="image-section">
      <img src="/images/about-us/Image_About_Us_1.png" alt="Illustration of people">
    </section>
  </div>
</div>

<div class="content-section story-tiles layout-1">
  <div>
    <h2>Learn More About Us</h2>
    <div class="tiles">
      <div class="story-tile">
        <img src="/images/about-us/story-tile-headers/StoryTile_AboutUs_InTheCommunity.jpg" alt="story-tile-fpo" width="572" height="205">
        <div class="story-tile-content">
          <h3 class="story-tile-title">In the Community</h3>
          <p>We provide more than electricity to Northwest Florida &mdash; we're committed to making the communities we serve better places to live and work. Learn about Gulf Power&apos;s long history of supporting these communities, and how we continue to serve.</p>
          <a href="/about-us/in-the-community" class="detour-link">Read More</a>
        </div>
      </div>

      <div class="story-tile">
        <img src="/images/about-us/story-tile-headers/StoryTile_AboutUs_OurCompany.jpg" alt="story-tile-fpo" width="572" height="205">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Our Company</h3>
          <p>Gulf Power Company is on the cutting edge of environmental stewardship, community and economic development and energy conservation. We are an investor-owned electric utility with all of our common stock owned by Atlanta-based Southern Company.</p>
          <a href="/about-us/our-company" class="detour-link">Read More</a>
        </div>
      </div>

      <div class="story-tile">
        <img src="/images/about-us/story-tile-headers/StoryTile_AboutUs_Education.jpg" alt="story-tile-fpo" width="572" height="205">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Education and Workforce Development</h3>
          <p>Gulf Power is deeply involved in workforce development efforts to help our communities grow. We start in the classroom, offering curriculum and professional development support for local teachers in addition to partnering with other organizations to ensure a strong future workforce.</p>
          <a href="/about-us/education-and-workforce-development" class="detour-link">Read More</a>
        </div>
      </div>

      <div class="story-tile">
        <img src="/images/about-us/story-tile-headers/StoryTile_AboutUs_Electric_Safety.jpg" alt="story-tile-fpo" width="572" height="205">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Safety</h3>
          <p>Electricity powers our lives, but it is also a tremendous force that can be hazardous. We are committed to making sure our customers have the knowledge they need to live, work and play safely around electricity.</p>
          <a href="/about-us/safety" class="detour-link">Read More</a>
        </div>
      </div>

      <div class="story-tile">
        <img src="/images/about-us/story-tile-headers/StoryTile_AboutUs_NewsCenter.jpg" alt="story-tile-fpo" width="572" height="205">
        <div class="story-tile-content">
          <h3 class="story-tile-title">NewsCenter</h3>
          <p>Read the latest Gulf Power information and articles at our news portal site. You can also find resources for the members of the media.</p>
          <a href="http://www.gulfpowernews.com/?ghp=bm_au_newscenter" target="_blank" title="External Link &mdash; Opens in a new tab" class="detour-link">Visit our NewsCenter</a>
        </div>
      </div>

      <div class="story-tile">
        <img src="/images/about-us/story-tile-headers/StoryTile_AboutUs_Careers.jpg" alt="story-tile-fpo" width="572" height="205">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Careers</h3>
          <p>Come work for one of the top employers in Northwest Florida. View our latest job openings and submit an application.</p>
          <a href="/about-us/careers" class="detour-link">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
