<div class="content-section basic-content-layout-2 page-promotional-introduction-disabled">
  <h2>Live, Work and Play Safely Around Electricity</h2>
  <div>
    <section class="text-section">
      <p>It&rsquo;s easy to take electricity for granted, like air and water. But it is not the same at all. It is a tremendous force we generate and control in wires and equipment.</p>
      <p>As long as electricity is isolated, we can use it safely. But when the force of electricity is loosed, terrible accidents can happen. Knowing a few simple principles can save you from injury or death.</p>
      <ul>
        <li>You conduct electricity, just like water, metals, and materials made from hydrocarbons.</li>
        <li>Electricity travels to the ground the easiest way it can &mdash; don't let it travel through you.</li>
        <li>Electricity moves instantaneously; there is no time to react.</li>
        <li>Electricity anywhere can threaten your life but downed wires are especially dangerous. They are not insulated. If charged, the electricity can move through anything nearby.</li>
      </ul>
    </section>

    <section class="image-section">
      <img src="/images/about-us/Image_About_Us_Electric_Safety_1.png" alt="Illustration of an electrical cord in a puddle of water">
    </section>
  </div>
</div>

<div class="content-section faq">
  <section class="text-section faq-section">
    <h2>Tips for Keeping Safe</h2>

    <h3>Power Lines</h3>
    <div class="faqs">
      <h3>Basic rules about power line safety</h3>
      <section>
        <p><strong>Never climb power poles or transmission towers.</strong> A typical overhead distribution line has 7200 volts per wire. Voltages on major transmission lines are as high as 500,000 volts. Both can deliver a deadly shock.</p>
        <p><strong>Never climb trees near power lines.</strong> The human body is an excellent conductor of electricity and you could become its path from the lines to the ground.</p>
        <p><strong>Stay away from downed power lines.</strong> Always assume a downed power line is live and life-threatening. Keep children and pets away from downed lines. Do not attempt to remove a person or animal caught in power lines. Call 911 for help. Do not attempt to remove tree limbs or any other object from a downed line.If you see a downed line, call Gulf Power at 1-800-487-6937 or your police or fire department to have the downed line barricaded until it can be repaired. Warn others to stay away.</p>
        <p><strong>Never drive over a downed line or under a low-hanging line.</strong> Beware of downed lines touching a vehicle. Stay away from the vehicle and the line. If a power line hits your car while you're inside, stay put and wait for help. If the car catches fire, then jump clear without touching metal and the ground at the same time. Shuffle away keeping both feet on the ground.</p>
        <p><strong>Keep ladders, antennas, kites and poles away from power lines.</strong> Weatherproofing on overhead wiring is not insulation. If you are holding any of these items and they come into contact with a power line, you could receive an electrical shock.</p>
      </section>
    </div>

    <h3>Around the House</h3>
    <div class="faqs">
      <h3>A quick guide to common hazards</h3>
      <section>
        <p><strong>Boats</strong> - Keep boat masts away from power lines.</p>
        <p><strong>Cords</strong> - Don't place appliance cords where they will come into contact with the stove or other heated surfaces. Don't hang appliance cords over countertops so they won't be accidentally pulled down.</p>
        <p><strong>Ladders</strong> - Exercise caution when using ladders, painting, pruning or cleaning near a service drop. (A service drop is where the wiring comes into a house or building at the meter.) Weatherproofing on the overhead wiring is not insulation. This covering can become brittle and cracked, exposing you to electrical contact.</p>
        <p><strong>Outlets</strong> - Look for outlets that have loose fitting plugs, exposed wires or broken plates. Have them fixed by a qualified electrician. Use safety covers on all outlets accessible to children.</p>
        <p><strong>Poles</strong> - Don't swing, climb or run into guy wires supporting utility poles. Report damaged guy wires to the power company.</p>
        <p><strong>Pools</strong> - Don't use electrical appliances near pools; don't route extension cords in the vicinity of pools; don't raise pool maintenance or rescue poles into overhead power lines.</p>
        <p><strong>Shoes</strong> - Avoid damp or wet areas when using electrical power tools outdoors. Wear sturdy, rubber-soled shoes when working with electrical appliances outdoors. NEVER use electrical equipment when barefooted.</p>
        <p><strong>Trees</strong> - Don't climb trees near power lines. Keep balloons, kites, fishing lines and aluminum poles away from overhead lines. The lines are not insulated and you could create a path to ground by touching them.</p>
      </section>
    </div>

    <h3>Power Tools and Cords</h3>
    <div class="faqs">
      <h3>A primer on using power tools safely</h3>
      <section>
        <p><strong>Inspect</strong> - Power tools and cords should be inspected routinely. If they have broken or frayed insulation or cause shocks, smoke, emit strange odors, or spark -- replace or repair the tool.</p>
        <p><strong>Ground</strong> - Check for grounding. Make sure all 3-wired tools and appliances with flexible cords are properly grounded.</p>
        <p><strong>Operate</strong> - Observe tagout and lockout procedures for heavy electrical equipment. Turn off power tools before unplugging; turn switches off before plugging in. Do not cut off ground prongs. This eliminates the protection grounded cords afford to you.</p>
        <p><strong>Overload</strong> - Check the amperage rating for an extension cord and make sure it is greater than, or equal to, the tool you will be using. You can determine this by comparing the rating labels on both the cord and tool you intend to use.</p>
        <p><strong>Extension Cords</strong> - Never substitute for permanent wiring. Keep slack in the cords. Tape when running across traffic areas. Avoid pinch points at closed doors or windows. Don't staple or nail extension cords to walls. Keep away from oil or corrosive material.</p>
        <p><strong>Water</strong> - Before using an extension cord outside or in a wet area, confirm that the cord is rated for outdoor use and make sure the cord is connected to a Ground Fault Circuit Interrupter.</p>
        <p><strong>Amperage</strong> - Make sure the amperage rating for an extension cord is greater than, or equal to, the tool you will be using. You can determine this by comparing the rating labels on both the cord and tool you intend to use.</p>
      </section>
    </div>

    <h3>Machinery and Power Lines</h3>
    <div class="faqs">
      <h3>What you need to know when working near power lines</h3>
      <section>
        <p><strong>Call us before you work.</strong>&nbsp;<a href="#call-before-you-dig" class="jump-link" target="_blank" title="External Link &mdash; Opens in a new tab">Learn more</a> about the laws and guidelines for working near power lines.</p>
        <p>Protection from contact with overhead wiring is provided by ISOLATION - or distance - not by insulated covering. Operators of equipment like backhoes, dump trucks, bucket trucks, concrete pumpers, and booms and cranes should be especially conscious of overhead wiring. The hazard of contact is also posed to workers on scaffolding or those handling or moving any type of long tool or equipment, like sections of metal pipe.</p>
        <p>If your equipment contacts power lines, electricity may contact with the ground. If so, the earth becomes energized in an large area around the contact. The strength of the electrical charge decreases from the point of contact. This is why it is vital not to separate your feet since there may be a difference in the electrical charge under each foot. This difference could create an electrical path through your body.</p>
        <p>If you make contact with a high voltage line while operating heavy equipment take the following precautions:</p>
        <ul>
          <li>Stay on the equipment, if possible, until help arrives</li>
          <li>Avoid touching any metal parts, and</li>
          <li>Try to break the contact by moving the machine.</li>
        </ul>
        <p>If it is absolutely necessary to exit the machine, jump as far out as possible and make sure you do not fall back against the machine. Land with both feet together and hop or shuffle your feet a few inches at a time making sure to never break contact with the ground or cause separation between your feet. Don't walk or run. Get as far away as possible.</p>
      </section>
    </div>

    <h3>Safety Circuits, Wiring and GFCIs</h3>
    <div class="faqs">
      <h3>How to avoid overloading those circuits</h3>
      <section>
        <p><strong>Branch Circuits</strong> - Never overload branch circuits by operating more appliances than the circuits were designed to handle. Remember: several outlets are usually connected to one branch circuit!</p>
        <p><strong>Fuses/Breakers</strong> - Use correct size fuses and breakers for circuits. Size refers to a circuit's amperage rating. If you don't know the rating, have a qualified electrician identify and label the sizes to be used.</p>
        <p><strong>Loads</strong> - This chart will give you an idea of how much of a load common appliances produce on household circuits.</p>
        <p><strong>Trips</strong> - Disconnect immediately if an appliance blows a fuse, trips a breaker or emits sparks or sizzling sounds. Discard the appliance or have it repaired.</p>

        <h3>Ground Fault Circuit Interrupters (GFCIs)</h3>
        <p><strong>What are they?</strong> - GFCIs work by detecting slight variations in current. If a short occurs, a GFCI will trip in a fraction of a second. There are three types of GFCIs:</p>
        <ul>
          <li>Circuit breaker-type GFCIs installed by qualified electricians go directly into an electrical panel to replace ordinary circuit breakers.</li>
          <li>Receptacle-type GFCIs installed by qualified electricians resemble ordinary electrical outlets and can be tested and reset at the outlet.</li>
          <li>Portable GFCIs can be plugged directly into any receptacle and do not require special knowledge to install.</li>
        </ul>
        <p><strong>Where to use?</strong> - Ground Fault Circuit Interrupters should be installed where water is present (such as in bathrooms and kitchens), or where easy contact with the ground can be made. However, even with GFCIs, you must still exercise extreme caution around water.</p>
        <p><strong>Test</strong> - Never modify or bypass a GFCI. Test GFCIs periodically to see that they are working properly. Do this by pressing the red "Test" button on each GFCI.</p>
      </section>
    </div>

    <h3>Electrical Fires</h3>
    <div class="faqs">
      <h3>Prevent fires from happening, but be prepared if they do</h3>
      <section>
        <p><strong>Combustibles</strong> - Keep area around electrical equipment clear of combustibles such as sawdust, paper, cardboard, and flammable liquids.</p>
        <p><strong>Escape</strong> - Know locations of emergency exits and fire escapes and know the escape routes from your work area. Fire escape plans should be posted and exits clearly marked.</p>
        <p><strong>Extinguishers</strong> - Know where the nearest fire extinguishers are and how to use them. Only Class C extinguishers are safe to use on energized electrical equipment.</p>
        <p><strong>Maintenance</strong> - Prevent oil and dirt buildup on electrical appliances. This situation can cause electrical equipment to overheat and short circuit. When buildup does occur, shut off electrical equipment and unplug its power supply. Use only clean dry rags and brushes and follow manufacturer's instructions.</p>
        <p><strong>Overloads</strong> - Electrical fires are frequently caused by overloaded equipment and circuits. This can cause insulation to burn, create sparks, and leave exposed wires. Don't overload electrical equipment by attempting to do heavier jobs than the equipment can handle.</p>
        <p><strong>Repair</strong> - Shut off all electrical equipment that produces odd sounds, odd smells or sparks. Have it checked by a qualified technician. Tag and remove hard wired equipment from service so that it cannot be accidentally energized while it is being repaired or replaced.</p>
      </section>
    </div>
  </section>
</div>

<section id="safety-education-programs-section" class="text-section cta-section">
  <div>
    <h2>Safety Education Programs</h2>
    <div>
      <p>Gulf Power employees provide live electrical safety programs &mdash; known as Safety City &mdash; to fourth graders throughout our Northwest Florida service area. Presentations include videos, handouts and conclude with a 20 minute demonstration using a 'live-wire' model of a neighborhood.</p>
      <!--// G2GULFPSC //-->
      <p><a href="mailto:gulfpowersafetycity@southernco.com?subject=Safety%20City%20request">Contact us</a> to schedule a presentation for your class.</p>
    </div>

    <div>
      <p>You can also use our fun, interactive Safety City model to teach about potential hazards and how to play safely in any city.</p>
      <p><a href="/about-us/safety/safety-city" class="button" role="button">Launch Interactive</a></p>
    </div>
  </div>
</section>

<div id="overhead-line-safety" class="content-section basic-content-layout-2 page-promotional-introduction-disabled">
  <h2>Overhead Line Safety</h2>
  <div>
    <section class="text-section">
      <p>One of the most potentially hazardous electrical situations in industrial plants and on construction sites is accidental contact with overhead or underground wiring. Protection from contact with overhead wiring is provided best by isolation, or distance. The covering on some overhead lines is weatherproofing; it is not intended to provide insulated protection from contact. This plastic coating may become brittle, making it easy to crack and fall off.</p>
      <p>Operators of equipment such as the following should be especially conscious of overhead wiring.</p>
      <ul>
        <li>Backhoes</li>
        <li>Dump trucks</li>
        <li>Bucket trucks</li>
        <li>Concrete pumpers</li>
        <li>Booms and cranes</li>
      </ul>
      <p>The hazard of contact is also posed to workers on scaffolding or those handling or moving any type of long tools or equipment, like sections of metal pipe.</p>
    </section>

    <section class="image-section">
      <img src="/images/about-us/Image_About_Us_Electric_Safety_2.png" alt="Electric safety: Overhead Line Safety (illustration)">
    </section>
  </div>
</div>

<div id="call-before-you-dig" class="content-section basic-content-layout-2 page-promotional-introduction-disabled">
	<h2>Call Before You Dig</h2>
   <div>
     <section class="text-section">
      <p>Before you begin any work, including construction, <strong>within 10 feet of an overhead electrical line carrying more than 750 volts</strong>, you should check your state laws, regulations and guidelines, and federal standards.</p>
      <p>The Florida Underground Facilities Damage Prevention and Safety Act requires anyone engaged in any type of excavation or demolition to provide advance notice to owners of underground facilities (electrical service, telephone, television cable, water, etc.) before commencing work.</p>
      <p>The purpose of this notification is to allow time for the owners of the underground facilities to locate and mark locations of their lines on the excavation site. Failure to comply with the Florida Underground Facilities Damage Prevention and Safety Act can result in civil penalties and other action.</p>
      <p>Notice must be given at least 48 hours but not more than 5 days prior to beginning the work. Additionally, notification should be limited to the amount of work that can be completed in 10 working days.</p>
      <p>Notification to Gulf Power Company can be made by contacting the Sunshine 811 notification center at <a href="tel::8004324770" class="phone-number">800-432-4770</a>.</p>
      <p>Operators at Sunshine 811 require <a href="http://www.sunshine811.com/safe-digging-process" target="_blank" title="External Link &mdash; Opens in a new tab">specific information</a> about the excavation site in order to properly notify all of its member utilities. Work location processing is very easy if the caller is prepared to answer all questions.</p>
    </section>

    <section class="image-section">
      <img src="/images/about-us/Image_About_Us_InTheCommunity_1.png" alt="Electric safety: Call Before You Dig (illustration)">
    </section>
  </div>
</div>

<div id="safety-faqs" class="content-section faq">
  <section class="text-section faq-section">
    <div class="faqs">
      <h3>Information about each excavation site</h3>
      <section>
        <p>Callers will be asked for the following information regarding each proposed excavation site:</p>
        <ul>
          <li>Caller name and company name</li>
          <li>Mailing Address</li>
          <li>Telephone and FAX numbers</li>
          <li>County and city</li>
          <li>Location (name of street or route number, name of nearest intersecting street or route number within a reasonable distance, name of subdivision, if any, or area name)</li>
          <li>Duration of excavation</li>
          <li>Requested work date and time</li>
          <li>Machinery</li>
          <li>Who the work is being done for</li>
          <li>Work type</li>
          <li>Grid (township, range, section, quarter section)</li>
          <li>Instructions for marking (Description of the area to be marked: for example, "Mark from curb to curb")</li>
        </ul>
        <p>Excavators are encouraged to fill in the location request form and be prepared to give information when an operator answers.</p>
        <p>After receiving a work location request from Sunshine State One-Call, Gulf Power Company will either contact the excavator or mark the location of the buried cables so the excavator can easily recognize them. (Note: It is recommended that excavators mark proposed excavation sites using white to aid underground facility operators in their marking efforts.)</p>
      </section>

      <h3>Responsibilities of the Excavator</h3>
      <section>
        <p>After the markings have been made, excavators should maintain a minimum clearance of two feet between a marked and unexposed underground facility and the cutting edge or point of any power operated excavating or earth moving equipment. As the excavation operation approaches the estimated location of underground facilities, the excavator must determine the exact location of the marked facility by safe and acceptable means. This is usually accomplished by the use of hand tools or vacuum excavation techniques.</p>
        <p>If, during the course of excavation, a facility has been exposed, it is the excavator's responsibility to inspect and support these facilities prior to backfilling. If damage of any kind is discovered-or any suspicion of damage exists-it is the excavator's responsibility to immediately notify the facility owner directly.</p>
        <p>Many excavators mistakenly believe that Call Sunshine is responsible for the actual marking of facilities. This is not the case. Call Sunshine takes information from the excavator and relays it to the underground facility operators, including Gulf Power Company.</p>
        <p>Each facility operator is responsible for insuring that their facilities are properly marked. When one underground facility owner indicates that there are no facilities in conflict with a specific excavation, it does not mean that Call Sunshine has cleared the site, nor does it mean that other facilities are not at that location.</p>
      </section>

      <h3>About Sunshine 811</h3>
      <section>
        <p>Sunshine 811 is a not for profit corporation which began with the 1993 adoption of the "Underground Facility Damage Prevention and Safety Act," Chapter 556, Florida Statutes. Underground utility owners and operators are required by this law to be members of Sunshine 811. Member underground utility owners and operators fund its operation.</p>
      </section>

      <p>For specific information regarding the "Underground Facility Damage Prevention and Safety Act," please refer to Chapter 556 of the Florida Statutes.</p>
    </div>
  </section>
</div>
