<div class="content-section basic-content-layout-1">
  <div>
    <section class="text-section">
      <h2>Protecting Access and Controlling Costs for All Users</h2>
      <p>Safely maintaining the thousands of miles of power distribution lines on our grid is a top priority for us. We aim to keep easements safe, clear and free of unsightly clutter or debris through our maintenance and right-of-way inspection programs.</p>
      <p>At Gulf Power, we are responsible for providing safe reliable energy to our customers at the best value. The maintenance of easements which our transmission lines traverse is one area where we are focusing on reducing cost. Anytime a customer or property owner uses an easement in conflict with the reason Gulf Power acquired it, an added cost will be borne by our rate payers. Gulf Power must address these unauthorized uses to continue the safe operation and maintenance of our system.</p>
      <p>Our system is maintained utilizing a process of managing the easements through activities which include vegetation management and right-of-way inspections. These activities involve the removal and cutting of vegetation, application of herbicides and pruning of trees impacting our easements. We also perform various inspections of our facilities which may identify possible encroachments. Gulf Power considers an encroachment as anything on the right-of-way that is NOT specified within the legal easement document. However, some encroachments are acceptable and do not impede the right-of-way use, while others are discouraged or not allowed at all.</p>
      <p>The purpose of this site is to educate and provide information on our easements and allowable uses. Before any allowable encroachment is to be placed on Gulf Power's easement, an encroachment agreement must be successfully negotiated and executed.</p>
      <p>For more information contact us:</p>
      <ul>
        <li>Patrick McCown | 850-444-6698 | <a href="mailto:prmccown@southernco.com">e-mail</a></li>
        <li>Peggy Wilson | 840-444-6344 | <a href="mailto:pawilson@southernco.com">e-mail</a></li>
        <li>Kellie Simmons | 850-444-6870 | <a href="mailto:Klgresse@southernco.com">e-mail</a></li>
        <li>Nathan Szoke, Forestry Services Team Leader | 850-429-2855 | <a href="mailto:nsszoke@southernco.com">e-mail</a></li>
        <li>Will Avery - Panama City | 850-872-3304 | <a href="mailto:wavery@southernco.com">e-mail</a></li>
        <li>Eric Garrett - Pensacola, Milton | 850-429-2656 | <a href="mailto:ejgarret@southernco.com">e-mail</a></li>
        <li>Brent Jordan - Pensacola | 850-429-2626 | <a href="mailto:bwjordan@southernco.com">e-mail</a></li>
        <li>Buck Lowery - Crestview, Destin | 850-689-4616 | <a href="mailto:kblowery@southernco.com">e-mail</a></li>
      </ul>
      <p>To learn more:</p>
      <a href="/pdfs/rights-of-way/ROW-brochure.pdf" target="_blank">Gulf Power Rights-of-Way Brochure (PDF)</a>
      <a href="/pdfs/rights-of-way/making-a-difference-may-2013.pdf" target="_blank">Guidelines for Planting Trees (PDF)</a>
    </section>
  </div>
</div>
