<div class="content-section basic-content-layout-1">
  <div>
    	<script src="js/safety-city.js"></script>
      <object id="safety-city-object" id="_130765781" name="_130765781" data="/flash/Town-GulfLoader.swf" type="application/x-shockwave-flash"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="quality" value="high"><param name="allowFullscreen" value="true"><param name="allowFullscreenInteractive" value="true"><param name="allowScriptAccess" value="sameDomain"><param name="movie" value="/flash/Town-GulfLoader.swf"><param name="base" value="/flash/"><param name="wmode" value="transparent"><param name="scale" value="showall"><param name="menu" value="true"></object>      
  </div>
</div>

