<div class="content-section basic-content-layout-2">
  <h2>Savings Doesn&apos;t Mean Sacrificing Your Comfort</h2>
  <div>
    <section class="text-section">
      <p>The path to energy savings can take many directions. Whether you are looking for simple tips or looking to make major upgrades in your home, we offer a variety of opportunities for you to save money and energy.</p>
    </section>
    <section class="image-section">
      <img src="/images/illustrations/residential/Image_Res_SaveMoney_Energy.png" alt="Illustration">
    </section>
  </div>
</div>

<ng-include src="'templates/shared/programs-and-rebates-as-story-tiles.html'"
  ng-init="withIDs = [12, 13, 10]"
></ng-include>
