<div class="content-section basic-content-layout-2">
  <h2>Where We&apos;ve Come From, Where We&apos;re Going</h2>
  <div>
    <section class="text-section">
      <p>Gulf Power Company is an energy provider and subsidiary of Atlanta-based <a href="http://www.southerncompany.com/" target="_blank" title="External Link &mdash; Opens in a new tab">Southern Company</a>. Our beginnings go back to 1926, when Gulf Power Company became an actual operating public utility. Today we serve nearly half a million customers in 71 towns and communities throughout Northwest Florida.</p>
      <p>Our customers are at the center of everything we do. Our mission is to safely provide exceptional customer value by delivering reliable, affordable and environmentally responsible electricity while strengthening our communities.</p>
    </section>

    <section class="text-section">
      <h3>At a Glance</h3>
      <ul>
        <li><strong>Corporate headquarters:</strong> Pensacola, FL</li>
        <li><strong>Chairman, President and CEO:</strong> Stan Connally</li>
        <li><strong>Employees:</strong> 1,384</li>
        <li><strong>Customers:</strong> 449,471</li>
        <li><strong>Service footprint:</strong> 7,550 miles across eight counties</li>
        <li><strong>Generating capacity:</strong> 2,662.6 megawatts</li>
        <li><strong>Plants:</strong> two wholly-owned, plus a percentage interest in two others</li>
        <li><strong>Transmission miles of line:</strong> 1,671</li>
        <li><strong>Distribution miles of line:</strong> 7,730 (1,877 underground)</li>
        <li><strong>Substations:</strong> 135</li>
      </ul>
    </section>
  </div>
</div>

<div class="content-section faq">
  <section class="text-section faq-section">
    <h2>Our History</h2>
    <p>Gulf Power&apos;s origins date all the way back to February 10, 1925, when Southeastern Power and Light Company purchased the Pensacola Electric Company. Southeastern was a holding company which operated electric, gas and street railway systems in Alabama, Georgia and Mississippi. Later that year, Gulf Power Company was organized as a Southeastern subsidiary. On February 6, 1926, Gulf Power Company became an actual operating public utility as it acquired the Chipley Light and Power Company. Later that year, the Pensacola Electric Company, which had been rescued from receivership by the holding company, was merged into Gulf Power.</p>

    <div class="faqs">
      <h3>Read more about our early years</h3>
      <section>
        <p>Early generation of electricity came from at least 20 scattered, isolated and individually operating units. These generators had been designed to supply power for ice plants, lumber yards and electric transit systems and were not known for their reliability. Despite the depressed economic condition of Northwest Florida, a move toward modernization was virtually forced upon Gulf Power. The hurricane of Sept. 6, 1926, with 120 mph winds, ripped out nearly 4,000 rotting power poles. To make matters worse, the storm surge of nine feet above normal put out the fires in the old downtown Pensacola generating plant. More than 600 workers from sister companies restored service with a more modern system in a mere 65 days. By year's end, a 110,000 volt transmission line had been erected from the Alabama/Florida line on the north, into Pensacola. The old Allis-Chalmers steam turbine-generator was placed on standby, ending the era of local power generation.</p>
        <p>Gulf Power relied on imported energy for the next 39 years, even as customer numbers rose from the 7,366 inherited in 1926, to more than 40,000 in the mid 1940s. Finally, in 1945, after years of delay brought about by war shortages, the first unit at the "Crist Steam Plant" in Pensacola went online. The 22-megawatt unit enabled the company to take its first giant step toward generating self-sufficiency.</p>
        <p>Headquartered in Pensacola, Fla., Gulf Power continues to grow and is an active participant in the economic development arena. With nearly $1.1 billion invested in its facilities, the company aggressively seeks to expand its customer base while retaining the valuable customers which are so important to Northwest Florida.</p>
      </section>
    </div>
  </section>
</div>

<div class="content-section basic-content-layout-2 page-promotional-introduction-disabled">
  <h2>Leadership and Governance</h2>
  <div>
    <section class="text-section">
      <h3>Stan Connally &mdash; Chairman, President and CEO</h3>
      <p>Stan W. Connally Jr. is Chairman, President and CEO of Gulf Power Company, a subsidiary of Southern Company &mdash; one of the largest producers of electricity in the United States. Gulf Power Company is headquartered in Pensacola and provides electricity and energy services to communities in Northwest Florida.</p>
      <p>Stan began his career with Southern Company in 1989 as a co-op student at Georgia Power&apos;s Plant Yates.</p>
      <h3 class="read-more-link">Read full bio</h3>
      <section>
        <p>Stan Connally began his career with Southern Company in 1989 as a co-op student at Georgia Power&apos;s Plant Yates and has held positions in various functional areas, including Customer Operations, Sales and Marketing, and Power Generation. In 1998, Stan was named Sales Manager for the company&apos;s Central Region in the Macon, Ga., area.</p>
        <p>One year later, he returned to Georgia Power&apos;s corporate office as Assistant to the Vice President of Retail Sales and Service. He subsequently served as Group Leader of Engineering at Plant Wansley before being named Plant Manager of Mississippi Power&apos;s Plant Watson in 2003 and Plant Daniel in 2004.</p>
        <p>Three years later, Stan became Plant Manager at Alabama Power, with responsibility for all electric generating units at Plant Barry, Theodore Co-Generation Plant, and Washington County Co-Generation Plant.</p>
        <p>Prior to coming to Gulf Power Company, Stan was Senior Vice President and Senior Production Officer for Georgia Power Company, where he was responsible for coal, gas, and hydro-electric generation.</p>
        <p>Stan graduated in 1993 with a bachelor&apos;s degree in mechanical engineering from Georgia Institute of Technology.</p>
        <p>He completed the Goizueta Executive Education Program at Emory University in 2004 and the Southern Company Senior Leadership Development Program in 2009.</p>
        <p>Stan serves on the Board of Directors of the Florida Chamber of Commerce, Enterprise Florida, Gulf Coast Kid&apos;s House and James Madison Institute. He has been appointed by Florida Governor Rick Scott to the Aerospace Alliance board, a four-state organization working to bring aviation-related jobs to the Gulf Coast and to Triumph Gulf Coast, Inc. He is a member of the Florida Council of 100 and serves on the Georgia Tech Woodruff School of Mechanical Engineering External Advisory Board.</p>
      </section>

    </section>

    <section class="image-section">
      <img id="stan-connally-image" src="/images/our-company/StanConnally.png" alt="Portrait of Stan Connally">
    </section>
  </div>
</div>


<div class="content-section story-tiles layout-1 biographies">
  <div>
    <h2>Senior Leadership</h2>
    <div class="tiles">
      <div class="story-tile">
        <img src="/images/our-company/M_Burroughs.jpg" alt="Portrait" width="572" height="205">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Michael Burroughs</h3>
          <p>VP, Generation</p>
        </div>
      </div>

      <div class="story-tile">
        <img src="/images/our-company/b_terry.jpg" alt="Portrait" width="572" height="205">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Bentina Terry</h3>
          <p>VP, Customer Service and Sales</p>
        </div>
      </div>

      <div class="story-tile">
        <img src="/images/our-company/jim-fletcher.jpg" alt="Portrait" width="572" height="205">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Jim Fletcher</h3>
          <p>VP, External Affairs and Corporate Services</p>
        </div>
      </div>

      <div class="story-tile">
        <img src="/images/our-company/wendell-smith.jpg" alt="Portrait" width="572" height="205">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Wendell Smith</h3>
          <p>VP, Power Delivery</p>
        </div>
      </div>

      <div class="story-tile">
        <img src="/images/our-company/Xia-Liu.jpg" alt="Portrait" width="572" height="205">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Xia Liu</h3>
          <p>VP and CFO</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-section story-tiles layout-1 biographies">
  <div>
    <h2>Board of Directors</h2>
    <div class="tiles">
      <div class="story-tile">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Allan Bense</h3>
          <p>Chairman and CEO</p>
          <p>Bense Enterprises Inc.</p>
          <p>Panama City, FL Elected 2010</p>
        </div>
      </div>

      <div class="story-tile">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Debbie Calder</h3>
          <p>Executive Vice-President</p>
          <p>Navy Federal Credit Union</p>
          <p>Pensacola, FL Elected 2010</p>
        </div>
      </div>

      <div class="story-tile">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Stan Connally</h3>
          <p>Chairman, President and CEO</p>
          <p>Gulf Power Company</p>
          <p>Pensacola, FL Elected 2012</p>
        </div>
      </div>

      <div class="story-tile">
        <div class="story-tile-content">
          <h3 class="story-tile-title">William C. Cramer, Jr.</h3>
          <p>President</p>
          <p>Bill Cramer Chevrolet Cadillac Buick GMC, Inc.</p>
          <p>Panama City, FL Elected 2002</p>
        </div>
      </div>

      <div class="story-tile">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Julian B. MacQueen</h3>
          <p>CEO and Founder</p>
          <p>Innisfree Hotels</p>
          <p>Gulf Breeze, FL Elected 2013</p>
        </div>
      </div>

      <div class="story-tile">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Mort O'Sullivan</h3>
          <p>Managing Member</p>
          <p>Warren Averett</p>
          <p>Pensacola, FL Elected 2010</p>
        </div>
      </div>

      <div class="story-tile">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Michael T. Rehwinkel</h3>
          <p>Executive Chairman</p>
          <p>EVRAZ North America</p>
          <p>Pensacola, FL Elected 2013</p>
        </div>
      </div>

      <div class="story-tile">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Winston E. Scott</h3>
          <p>Sr. Vice President</p>
          <p>External Relations and Economic Development at Florida Institute of Technology</p>
          <p>Melbourne, FL Elected 2003</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!--// WORKING WITH US //-->
<div class="content-section basic-content-layout-2 page-promotional-introduction-disabled">
  <h2>Working With Us</h2>
  <div>
    <section class="text-section">
      <p>Interested in becoming a supplier and trusted partner to Gulf Power? We are committed to supplier diversity as a core business goal. Find information on our requirements and how to register.</p>
      <a href="/about-us/our-company/working-with-us" class="detour-link">Learn more</a>
    </section>

    <section class="image-section">
      <p class="production-notes">image?</p>
    </section>
  </div>
</div>


<!--// FINANCIALS / ANNUAL REPORTS //-->
<div class="content-section faq annual-reports-section">
  <section class="text-section faq-section">
    <h2>Financial Information</h2>
    <h3>Annual Reports</h3>
    <p>Download our current report: <a href="/pdfs/our-company/AnnualReport-GulfPower-2015.pdf" target="_blank" onclick="ga('send', 'event', 'pdf', 'click', 'annual-report 2015');">2015 Annual Report</a></p>

    <div class="faqs">
      <h3>View archive of previous reports</h3>
      <section>
        <ul>
          <li><a href="/pdfs/our-company/AnnualReport-GulfPower-2014.pdf" target="_blank" onclick="ga('send', 'event', 'pdf', 'click', 'annual-report 2014');">2014 Annual Report</a></li>
          <li><a href="/pdfs/our-company/AnnualReport-GulfPower-2013.pdf" target="_blank" onclick="ga('send', 'event', 'pdf', 'click', 'annual-report 2013');">2013 Annual Report</a></li>
          <li><a href="/pdfs/our-company/AnnualReport-GulfPower-2012.pdf" target="_blank" onclick="ga('send', 'event', 'pdf', 'click', 'annual-report 2012');">2012 Annual Report</a></li>
          <li><a href="/pdfs/our-company/AnnualReport-GulfPower-2011.pdf" target="_blank" onclick="ga('send', 'event', 'pdf', 'click', 'annual-report 2011');">2011 Annual Report</a></li>
          <li><a href="/pdfs/our-company/AnnualReport-GulfPower-2010.pdf" target="_blank" onclick="ga('send', 'event', 'pdf', 'click', 'annual-report 2010');">2010 Annual Report</a></li>
          <li><a href="/pdfs/our-company/AnnualReport-GulfPower-2009.pdf" target="_blank" onclick="ga('send', 'event', 'pdf', 'click', 'annual-report 2009');">2009 Annual Report</a></li>
          <li><a href="/pdfs/our-company/AnnualReport-GulfPower-2008.pdf" target="_blank" onclick="ga('send', 'event', 'pdf', 'click', 'annual-report 2008');">2008 Annual Report</a></li>
          <li><a href="/pdfs/our-company/AnnualReport-GulfPower-2007.pdf" target="_blank" onclick="ga('send', 'event', 'pdf', 'click', 'annual-report 2007');">2007 Annual Report</a></li>
          <li><a href="/pdfs/our-company/AnnualReport-GulfPower-2006.pdf" target="_blank" onclick="ga('send', 'event', 'pdf', 'click', 'annual-report 2006');">2006 Annual Report</a></li>
        </ul>
        <p>Find more Gulf Power financial information on Southern Company&apos;s <a href="http://investor.southerncompany.com/English/information-for-investors/investor-information/sec-filings/" target="_blank" title="External Link &mdash; Opens in a new tab" onclick="ga('send', 'event', 'link', 'click', 'SEC-Filings');">SEC Filings</a> page.</p>
      </section>

    
     <!--// POLITICAL CONTRIBUTIONS //-->
      <h3>Political Contributions</h3>
      <section>
        <p>Gulf Power complies with all laws governing the making of political contributions or expenditures, including independent expenditures, using corporate funds in connection with elections for public office.</p>
        <p>Corporate contributions in connection with state and local elections are permitted in Florida under state law. Any use of corporate funds to make political contributions or independent expenditures (as defined by applicable law) in connection with elections for public office must be approved in advance by Gulf Power&apos;s Chief Executive Officer and senior External Affairs Officer.</p>
        <p>2015 – Contributions</p>
        <ul>
          <li><strong>Contribution:</strong> $52,500  |  <strong>Recipient:</strong> Florida Republican Party</li>
          <li><strong>Contribution:</strong> $52,500  |  <strong>Recipient:</strong> Florida Republican Senatorial Campaign Committee</li>
          <li><strong>Contribution:</strong> $44,000  |  <strong>Recipient:</strong> Right to Rise Super PAC</li>
          <li><strong>Contribution:</strong> $12,500  |  <strong>Recipient:</strong> Florida Grown PC</li>
          <li><strong>Contribution:</strong> $10,000  |  <strong>Recipient:</strong> Florida Democratic Party</li>
          <li><strong>Contribution:</strong> $10,000  |  <strong>Recipient:</strong> Florida Conference of Black State Legislators</li>
          <li><strong>Contribution:</strong> $ &nbsp;5,000 |  <strong>Recipient:</strong> Florida Jobs PAC</li>
        </ul>
        <a href="/pdfs/our-company/SouthernCompany-Political-Spending-Policies-and-Practices.pdf" target="_blank" >View Overview of Policies and Practices for Political Spending</a>
      </section>
    </div>
  </section>
</div>


<!--// PLANTS //-->
<div class="content-section story-tiles layout-2">
  <div>
    <h2>Our Plants</h2>
    <div class="tiles">
      
       <div class="story-tile">
        <div class="story-tile-content">
          <h3 class="story-tile-title">James F. Crist Generating Plant</h3>
          <p>Pensacola, FL 32514</p>
          <p>Located in northeast Pensacola at the mouth of Escambia River on Governor&apos;s Bayou</p>
          <p>Total nameplate generating capacity - 970,000 KW</p>
          <p>Generating units - 4</p>
          <p>Type of fuel - coal</p>
          <a href="/pdfs/Tour-Request-Plant-Crist.pdf" class="pdf-link" target="_blank">Learn More</a>
        </div>
      </div>

      <div class="story-tile">
        <div class="story-tile-content">
          <h3 class="story-tile-title">Lansing Smith Generating Plant</h3>
          <p>Southport, FL 32409</p>
          <p>Located on Alligator Bayou off of North Bay in Bay County, 15 miles north of Panama City</p>
          <p>Total nameplate generating capacity - 889,900 KW</p>
          <p>Generating units - 4</p>
          <p>Types of fuel - coal and natural gas</p>
        </div>
      </div>

		</div>
	</div>
          
<div class="content-section story-tiles layout-2">
	<div>

  	<h3>Additional Plant Information</h3>
    <p>Gulf Power also owns parts of generating units at:</p>
    <ul>
    	<li>Mississippi Power&apos;s Plant Daniel - 500,000 KW (50% ownership)</li>
      <li>Georgia Power&apos;s Plant Scherer - 204,500 KW (25% ownership of one generating unit)</li>
      <li>Commercial generation Pea Ridge - 15,000 KW</li>
      <li>Renewable generation Perdido - 3,200 KW</li>
		</ul>
    
    <p><a href="/about-us/our-company/ccr-rule" class="detour-link">CCR Rule Compliance Data &amp; Information</a></p>
           
	</div>
</div>

<!--//
  <section class="text-section faq-section">
    <div class="faqs">
      <h3>Additional information on our plants</h3>
      <section>
        <p>Gulf Power also owns parts of generating units at:</p>
        <p>Mississippi Power&apos;s Plant Daniel - 500,000 KW (50% ownership)</p>
        <p>Georgia Power&apos;s Plant Scherer - 204,500 KW (25% ownership of one generating unit)</p>
        <p>Commercial generation Pea Ridge - 15,000 KW</p>
        <p>Renewable generation Perdido - 3,200 KW</p>
        <a href="/about-us/in-the-community/ccr-rule" class="detour-link">Learn More About Gulf Power Plants and CCR Rule Compliance</a>
      </section>
    </div>
  </section>
//-->
</div>
