<section id="contact-form" class="contact-form supplier-registration-form">
  <div class="content-region">
    <h2>Supplier Registration</h2>
    <p class="disclaimer">Please note that providing the following information does not guarantee that the goods(s) or services(s) you offer will be purchased by Gulf Power or its affiliates. Required fields are denoted with an asterisk (*).</p>
    <form name="supplierRegistrationForm" method="post" ng-submit="submitForm(supplierRegistrationForm.$valid)" novalidate>
      <label>
        <span class="title">Company Name * <span ng-show="
            supplierRegistrationForm.companyName.$invalid
            && supplierRegistrationForm.companyName.$error.required != true
            && supplierRegistrationForm.$submitted
        ">Invalid</span><span ng-show="
          supplierRegistrationForm.companyName.$error.required
          && supplierRegistrationForm.$submitted
        ">Required</span></span>
        <input type="text" name="companyName" placeholder="Company Name" ng-model="companyName" ng-pattern="/[a-zA-Z-\s]+/" ng-required="true">
      </label>
      <label>
        <span class="title">Address * <span ng-show="
          supplierRegistrationForm.addressLine1.$invalid
          && supplierRegistrationForm.addressLine1.$error.required != true
          && supplierRegistrationForm.$submitted
        ">Invalid</span><span ng-show="
          supplierRegistrationForm.addressLine1.$error.required
          && supplierRegistrationForm.$submitted
        ">Required</span></span>
        <input type="text" name="addressLine1" placeholder="Address Line 1" ng-pattern="/[a-zA-Z-\s]+/" ng-model="addressLine1" ng-required="true">
      </label>
      <label>
        <span class="title">Address (Line 2)</span>
        <input type="text" name="addressLine2" ng-model="addressLine2" placeholder="Address (Line 2)">
      </label>
      <label class="city">
        <span class="title">City * <span ng-show="
          supplierRegistrationForm.city.$invalid
          && supplierRegistrationForm.city.$error.required != true
          && supplierRegistrationForm.$submitted
        ">Invalid</span><span ng-show="
          supplierRegistrationForm.city.$error.required
          && supplierRegistrationForm.$submitted
        ">Required</span></span>
        <input type="text" name="city" placeholder="City" ng-model="city" ng-pattern="/[a-zA-Z-\s]+/" ng-required="true">
      </label>
      <label class="state">
        <span class="title">State *</span>
        <select name="state">
          <option value="FL" selected>Florida</option>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DC">District of Columbia</option>
          <option value="DE">Delaware</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
      </label>
      <label class="zip">
        <span class="title">ZIP Code * <span ng-show="
          supplierRegistrationForm.zip.$invalid
          && supplierRegistrationForm.zip.$error.required != true
          && supplierRegistrationForm.$submitted
        ">Invalid</span><span ng-show="
          supplierRegistrationForm.zip.$error.required
          && supplierRegistrationForm.$submitted
        ">Required</span></span>
        <input type="text" name="zip" placeholder="ZIP Code" ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/" ng-model="zip" ng-required="true">
      </label>
      <label>
        <span class="title">Country <span ng-show="
          supplierRegistrationForm.country.$invalid
          && supplierRegistrationForm.country.$error.required != true
          && supplierRegistrationForm.$submitted
        ">Invalid</span></span>
        <input type="text" name="country" placeholder="Country Name" ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/" ng-model="country">
      </label>
      <label>
        <span class="title">Business Phone Number * <span ng-show="
          supplierRegistrationForm.businessPhoneNumber.$invalid
          && supplierRegistrationForm.businessPhoneNumber.$error.required != true
          && supplierRegistrationForm.$submitted
        ">Invalid</span><span ng-show="
          supplierRegistrationForm.businessPhoneNumber.$error.required
          && supplierRegistrationForm.$submitted
        ">Required</span></span>
        <input type="tel" name="businessPhoneNumber" placeholder="Business Phone" ng-model="businessPhoneNumber" ng-required="true">
      </label>
      <label>
        <span class="title">Fax Number</span>
        <input type="tel" name="faxNumber" placeholder="Fax Machine Number" ng-model="faxNumber">
      </label>
      <label>
        <span class="title">Website</span>
        <input type="text" name="siteLink" placeholder="Business Website Link">
      </label>
      <h3>Contact Information</h3>
      <label>
        <span class="title">Name * <span ng-show="
          supplierRegistrationForm.usersName.$invalid
          && supplierRegistrationForm.usersName.$error.required != true
          && supplierRegistrationForm.$submitted
        ">Invalid</span><span ng-show="
          supplierRegistrationForm.usersName.$error.required
          && supplierRegistrationForm.$submitted
        ">Required</span></span>
        <input type="text" name="usersName" placeholder="Your Name" ng-model="usersName" ng-pattern="/[a-zA-Z-\s]+/" ng-required="true">
      </label>
      <label>
        <span class="title">Phone Number * <span ng-show="
          supplierRegistrationForm.phoneNumber.$invalid
          && supplierRegistrationForm.phoneNumber.$error.required != true
          && supplierRegistrationForm.$submitted
        ">Invalid</span><span ng-show="
          supplierRegistrationForm.phoneNumber.$error.required
          && supplierRegistrationForm.$submitted
        ">Required</span></span>
        <input type="tel" name="phoneNumber" placeholder="Your Phone Number" ng-model="phoneNumber" ng-required="true">
      </label>
      <label>
        <span class="title">Email Address * <span ng-show="
          supplierRegistrationForm.emailAddress.$invalid
          && supplierRegistrationForm.emailAddress.$error.required != true
          && supplierRegistrationForm.$submitted
        ">Invalid</span><span ng-show="
          supplierRegistrationForm.emailAddress.$error.required
          && supplierRegistrationForm.$submitted
        ">Required</span></span>
        <input type="email" name="emailAddress" placeholder="Email Address" ng-model="emailAddress" ng-required="true">
      </label>
      <label class="products-and-services">
        <span class="title">Products / Services</span>
        <textarea name="comments" rows="8" cols="20" placeholder="Describe the goods and services your company provides"></textarea>
      </label>
      <button role="button" type="submit">Submit</button>
    </form>
  </div>
</section>
