<section class="text-section cta-section">
  <div>
    <h2>Creating Trusted Partnerships</h2>
    <div>
      <p>We are committed to conducting business with honesty, integrity and fairness. An essential part of this commitment is our requirement that we conduct our business in compliance with all applicable laws and regulations.</p>
      <p>We also expect our suppliers/contractors, in their work with us, to conduct themselves with honesty, integrity, fairness and a commitment to legal compliance. Suppliers/contractors are expected to comply with all applicable laws and regulations and certain company policies.</p>
      <p>Read on to learn more about working with us.</p>
    </div>

    <div>
      <h3>Supplier Registration</h3>
      <p>Thank you for your interest in registering to be a supplier for Gulf Power. While completion of this process does not guarantee future opportunities with the company, it is a required step in order to be considered for them.</p>
      <a href="/about-us/our-company/supplier-registration" class="detour-link">Register Here</a>
    </div>
  </div>
</section>

<div class="content-section basic-content-layout-2 page-promotional-introduction-disabled">
  <h2>Supplier Diversity</h2>
  <div>
    <section class="text-section">
      <h3>Mirroring Our Community&apos;s Diversity</h3>
      <p>Supplier diversity is a core business goal at Gulf Power. That's why our initiatives are designed to provide opportunities to small and diverse businesses, including minority owned, woman-owned, HUBZone, veteran-owned, and service disabled veteran-owned businesses.</p>
      <p>A diverse supplier base not only makes good business sense, but it also maximizes the value of our supply chain through the following:</p>
      <p><strong>Cultivation</strong> &mdash; We promote diversity that adds quality and helps proven suppliers grow and develop their businesses through mentoring opportunities.</p>
      <p><strong>Citizenship</strong> &mdash; We strive to be a good corporate citizen and improve the economies of the communities we serve.</p>
      <p><strong>Compliance</strong> &mdash; We comply with all regulatory guidelines, adhere to regulatory agencies and meet our spending goals with a pool of certified, high-quality suppliers.</p>
      <p>In 2013, Gulf Power spent more than 17 percent of procurement dollars with minority-owned and women-owned businesses. Over the last five years, the company has an average spending rate of 15.8 percent.</p>
      <p>All suppliers are expected to compete on quality, reliability, and price.</p>
    </section>

    <section class="image-section">
      <p class="production-notes">image</p>
    </section>
  </div>
</div>

<div class="content-section faq">
  <section class="text-section faq-section">
    <h2>Ethics and Compliance</h2>
    <p>Gulf Power is committed to the highest standards of ethical and legal compliance.</p>

    <div class="faqs">
      <h3>Ethics Standards</h3>
      <section>
        <p>When applying to become a trusted supplier, you will be agreeing with compliance principles, which are a summary of some of the governing terms and conditions contained in our contracts. In addition, you can be confident that ethical behavior applies to every part of our business.</p>
        <p>These standards are embodied in two foundational documents - the Southern Style (PDF) statement of values and the Code of Ethics (PDF). Our contracts include provisions which specifically require suppliers to conduct their activities in a highly ethical manner and in compliance with applicable laws and regulations.</p>
        <p>Please let us know if you are ever asked by a company representative to do something you consider to be unethical or illegal, or if you observe illegal conduct at our company. You can contact our management by calling our Concerns Program confidential reporting line (1.800.754.9452).</p>
      </section>

      <h3>Compliance Principles</h3>
      <section>
        <p>When applying to become a trusted partner, you will be agreeing with the Southern Company Compliance Principles outlined below. These principles are a summary of the actual governing terms and conditions contained in our contracts.</p>
        <ul>
          <li>Ethical and Legal Compliance Expectations</li>
          <li>Equal Employment / Harassment</li>
          <li>Workplace Threats and Violence</li>
          <li>Electronic Communications</li>
          <li>Safety and the Environment</li>
          <li>Drugs and Alcohol</li>
          <li>Conflict of Interest</li>
        </ul>

        <h3>Ethical and Legal Compliance Expectations</h3>
        <p>At Southern Company, we are committed to conducting business with honesty, integrity and fairness. An essential part of this commitment is our requirement that we conduct our business in compliance with all applicable laws and regulations.</p>
        <p>We also expect our suppliers/contractors, in their work with us, to conduct themselves with honesty, integrity, fairness and a commitment to legal compliance. Suppliers/contractors are expected to comply with all applicable laws and regulations and certain Southern Company policies, and to communicate these expectations to their agents, subcontractors, suppliers, representatives, and employees that assist them in meeting their obligations to Southern Company ("Company").</p>
        <p>These policies include, but are not limited to, the following:</p>

        <h3>Equal Employment / Harassment</h3>
        <p>Discrimination or harassment of any kind or character, based on race, gender, color, religion, age, national origin, disability, or veteran status, including but not limited to conduct or language derogatory to any individual that creates an intimidating, hostile, or offensive working environment, will not be tolerated. Specific examples include, but are not limited to, jokes, pranks, epithets, written or graphic material, or hostility or aversion toward any individual or group.</p>
        <p>Suppliers/contractors are expected to comply with all applicable immigration laws, including the Immigration Act of 1990.</p>

        <h3>Workplace Threats and Violence</h3>
        <p>Any conduct or acts such as threats or violence that creates a hostile, abusive, or intimidating work environment will not be tolerated. Examples of such inappropriate behaviors include, but are not limited to fighting, abusive language, inappropriate signage, use or possession of firearms on Company property, and destruction of Company or Company employee property. Any person who makes a substantial threat, exhibits threatening behavior, or engages in violent acts is subject to immediate removal from Company property and may be subject to further actions, including referral for criminal prosecution.</p>

        <h3>No Toleration of Unacceptable Behaviors</h3>
        <p>If a supplier's representative observes a purchaser employee doing or is ever asked by a purchaser employee to do something the supplier's representative considers to be unethical, illegal, or in violation of these behavior standards, purchaser expects supplier to notify purchaser management immediately or call Southern Company Workplace Ethics at <a href="tel::18007549452" class="phone-number">1-800-754-9452</a>.</p>

        <h3>Electronic Communications</h3>
        <p>The use of the Company's computers, email, telephone or voice-mail system, that in any way involves material that is obscene, pornographic, sexually oriented, threatening, or otherwise derogatory or offensive to any individual, race, color, religion, national origin, sex, age, disability, or veteran status, is prohibited.</p>

        <h3>Safety and the Environment</h3>
        <p>Suppliers and Contractors are expected to meet their responsibility for assuring the safety and health of their employees and to protect the environment. The Company will choose and retain suppliers and/or contractors who consistently perform in compliance with these expectations.</p>

        <h3>Drugs and Alcohol</h3>
        <p>All individuals are prohibited from possessing, selling, distributing, using, or being under the influence of alcohol or illegal drugs on Company property. Supplier or Contractor employees may be required to submit to a urinalysis, breath analysis, blood test or other appropriate test to identify the presence of drugs, alcohol, or hallucinogens.</p>

        <h3>Conflict of Interest</h3>
        <p>The engagement in any activity that creates a conflict of interest or appearance of the same, or that jeopardizes the integrity of Company or Contractor, is prohibited. This includes providing gifts, gratuities, events, and trips to Company employees that are not part of a reasonable business relationship.</p>
      </section>
    </div>
  </section>
</div>


<div class="content-section basic-content-layout-1">
  <div>
    <section class="text-section">
      <h2>Requirements for Contractors</h2>
      <p>Prior to working for Gulf Power, contractors must comply with certain requirements. Based upon the nature of work that will be performed, contract workers may be required to pass a drug screen and background investigation. The Contractor will be informed during the contract development process whether these requirements will apply. If these requirements apply, the Contractor must have these services performed by an approved Mississippi provider.</p>

      <h3>Generating Plant Access Requirements</h3>
      <p>Identification requirements, drug/alcohol testing, background investigation and safety orientation requirements must be met to gain access to generating plants. <a href="http://www.southerncompany.com/about-us/suppliers/requirements-plant-access.cshtml" target="_blank" title="External Link &mdash; Opens in a new tab">Learn more</a></p>
    </section>
  </div>
</div>

<div class="content-section faq">
  <section class="text-section faq-section">
    <h2>Engineering and Construction Services (E&amp;CS)</h2>
    <p>Contractor's Environmental, Health and Safety (EH&amp;S) and Quality programs shall meet or exceed the requirements of the Southern Company Generation EH&amp;S and Quality policies and procedures.</p>

    <div class="faqs">
      <h3>Environmental, Health, and Safety (EH&amp;S) &amp; Quality Policies and Procedures</h3>
      <section>
        <p>The Southern Company Generation <a href="/pdfs/working-with-us/ConstructionPoliciesProcedures.pdf" target="_blank" >Environmental, Health and Safety (EH&amp;S) and Quality Policies and Procedures</a> are key components in the execution of all Engineering and Construction Services (E&amp;CS) construction projects. Prospective contractors are required to fully understand and adhere to the provisions set forth by these policies and procedures. The Quality Policies and Procedures apply to contracts executed prior to January 1, 2012. For all contracts executed after January 1, 2012, contractors will be required to meet the <a href="/pdfs/working-with-us/ContractorQualityRequirements.pdf" target="_blank" >Construction Quality Requirements</a>.</p>
        <p>Contractor's EH&amp;S and Quality programs shall meet or exceed the requirements of the Southern Company Generation EH&amp;S and Quality policies and procedures. Contractor shall submit their own manual for review and approval of Purchaser prior to the commencement of work.</p>
      </section>

        <h3>Drug/Alcohol Testing and Background Investigation Requirements</h3>
        <section>
          <p>This provides information on the drug/alcohol testing and background investigation program that Southern Company requires of all contractors.</p>
          <a href="http://www.southerncompany.com/about-us/suppliers/requirements-plant-access.cshtml">Details</a></h3>
        </section>

        <h3>Contractor Compliance Background Form (CCBF)</h3>
        <section>
          <p>This form is provided to the contractor to request certain information concerning its compliance history and compliance programs. Upon receipt, the completed and signed background form is reviewed for suspect or problematic responses. Instead of the CCBF, some entities within Southern Company may obtain equivalent information via the Browz Program that is used for contractor prequalification.</p>
          <a href="/pdfs/working-with-us/ContractorComplianceBackgroundForm.pdf" target="_blank" >Sample Form</a>
        </section>

        <h3>Contractor Safety Qualification Questionnaire (CSQQ)</h3>
        <section>
          <p>This form is provided to the contractor to request certain information concerning its safety performance and program. Upon receipt, the completed and signed questionnaire is reviewed for conformance with Southern Company requirements. Instead of the CSQQ, some entities within Southern Company may obtain equivalent information via the Browz Program that is used for contractor prequalification.</p>
          <a href="/pdfs/working-with-us/SafetyQualificationQuestionnaire.pdf" target="_blank" >Sample Form</a>
        </section>
      </section>
    </div>
  </section>
</div>

<div class="content-section basic-content-layout-1">
  <div>
    <section class="text-section">
      <h3>Contract Worker Drug Screening and Background Investigations</h3>
      <p>Based upon the nature of work that will be performed, contract workers may be required to pass a drug screen and background investigation. The Contractor will be informed during the contract development process whether these requirements will apply. If these requirements apply, the Contractor must have these services performed by an approved Southern Company provider.</p>

      <h3>Contract Worker Access to NERC Protected Assets</h3>
      <p>Based upon location of the work to be performed, contract workers may be required to annually complete additional security training and be subject to a background investigation every seven years. <a  href="/pdfs/working-with-us/CriticalInfrastructureProtectionCyberSecurityPolicy.pdf" target="_blank" >Learn more (PDF)</a>.</p>
    </section>
  </div>
</div>

